// import global rules
@use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;

// Start Header Styling:-
header {
  background-color: $light-white-color;
  box-shadow: -1px 1px 20px -15px $black-color;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  .container {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);
    gap: $sec-element-padding;
    @media (max-width: 767px) {
      padding-top: 5px;
      grid-template-columns: auto 1fr auto;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "logo . account" "navLinK navLinK navLinK";
    }
    .logo {
      width: 75px;
      @media (max-width: 991px) {
        width: 60px;
      }
      @media (max-width: 767px) {
        grid-area: logo;
        width: 70px;
      }
      a {
        h1 {
          color: $main-color;
          font-size: 2.5rem;
          font-family: "Yesteryear", cursive;
          margin: 0;
        }
      }
    }
    nav {
      @extend %flex-center-between;
      @media (max-width: 767px) {
        grid-area: navLinK;
        border-top: 1px solid $dark-white-color;
      }
      ul {
        display: flex;
        gap: $sec-element-padding;
        @media (max-width: 991px) {
          margin: 0 auto;
          gap: $main-element-padding;
        }
        @media (max-width: 450px) {
          gap: $sec-element-padding;
        }
        li {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $main-color;
          }
          &:hover::after {
            width: 100%;
          }
          &.active {
            background-color: $white-color;
            &::after {
              width: 100%;
            }
            a {
              span,
              .f-icon {
                color: $main-color;
              }
            }
          }
          a {
            @extend %flex-center-center;
            padding: {
              right: $sec-element-padding;
              left: $sec-element-padding;
            }
            height: 68px;
            &:hover {
              span,
              .f-icon {
                color: $main-color;
              }
            }
            @media (max-width: 767px) {
              gap: $main-element-padding;
              height: 50px;
            }
            .f-icon {
              font-size: 1.4rem;
              display: none;
              @media (max-width: 991px) {
                display: initial;
              }
            }
            span {
              @media (max-width: 1199px) {
                font-size: 0.95rem;
              }
              @media (max-width: 991px) {
                display: none;
              }
            }
          }
        }
      }
    }
    .account,
    .log-in-acc {
      @extend %flex-center-center;
      gap: $main-element-padding;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      @media (max-width: 767px) {
        grid-area: account;
      }
    }
    .account {
      a {
        @include button-shape($main-color, "light");
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content !important;
        padding: $sec-element-padding 15px;
        &:last-of-type {
          background-color: $sec-color;
          border-color: $sec-color;
          &:hover {
            background-color: transparent;
            border-color: $sec-color;
            color: $sec-color;
          }
        }
      }
    }
    .log-in-acc {
      gap: $sec-element-padding;
      height: 100%;
      article {
        @extend %flex-center-center;
        height: 100%;
        .h-btn {
          padding: 10px;
        }
      }
      article {
        > .menu {
          @extend %border-radius-5;
          @extend %user-select-none;
          @include trans-x(-50%);
          display: none;
          position: absolute;
          padding: 0 {
            top: $sec-element-padding;
            bottom: $sec-element-padding;
          }
          background-color: $white-color;
          top: 70px;
          left: 50%;
          box-shadow: $list-light-box-shadow;
          @media (max-width: 768px) {
            top: 62px !important;
          }
          @media (max-width: 1240px) {
            @include trans-x(0);
            right: 0;
            left: initial;
          }
          ul {
            @extend %flex-center-center;
            flex-direction: column;
            gap: $sec-element-padding;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              top: -34px;
              left: 50%;
              width: 0;
              height: 0;
              border: 12px solid;
              border-color: transparent transparent $white-color transparent;
              @include trans-x(-50%);
              @media (max-width: 1240px) {
                @include trans-x(0);
                left: initial;
              }
            }
            li {
              @extend %flex-center-center;
              @extend %border-radius-5;
              overflow: hidden;
              padding: 5px {
                left: $sec-element-padding;
                right: $sec-element-padding;
              }
              gap: $sec-element-padding;
              &:hover {
                cursor: pointer;
              }
              div {
                @extend %border-radius-50;
                width: 25px;
                overflow: hidden;
                img {
                  max-width: 100%;
                }
              }
              span {
                text-transform: uppercase;
                font: {
                  weight: 400;
                  size: 0.9rem;
                }
              }
            }
          }
        }
      }
      .lang,
      .cart,
      .notification {
        position: relative;
        .h-btn {
          @extend %flex-center-center;
          gap: 5px;
          &:hover {
            cursor: pointer;
          }
          div {
            @include border-rad(50%);
            width: 30px;
            overflow: hidden;
            img {
              max-width: 100%;
            }
          }
          span {
            text-transform: uppercase;
            font-weight: 600;
          }
        }
        .menu {
          padding: 10px;
          ul {
            li {
              &:hover {
                background-color: $light-input-background;
                color: $main-color;
              }
            }
          }
        }
        .h-btn {
          padding: 0 $sec-element-padding;
          a {
            @extend %flex-center-center;
            @extend %border-radius-50;
            width: $main-element-padding * 2;
            height: $main-element-padding * 2;
            background-color: $white-color;
            position: relative;
            &::after {
              @extend %flex-center-center;
              @extend %border-radius-50;
              content: attr(data-number);
              position: absolute;
              top: -7px;
              right: -7px;
              background-color: $main-color;
              color: $white-color;
              width: 20px;
              height: 20px;
              z-index: 1000;
            }
            &:hover {
              background-color: $dark-white-color;
              .f-icon {
                color: $main-color;
              }
            }
            .f-icon {
              color: $black-color;
              font-size: 1.05rem;
              // padding: {
              //   top: 4px;
              //   right: 2px;
              // }
            }
          }
        }
      }
      .theme {
        .h-btn {
          @extend %flex-center-center;
          @extend %border-radius-50;
          background-color: $white-color;
          width: 35px;
          height: 35px;
          &:hover {
            background-color: $dark-white-color;
            cursor: pointer;
          }
          .f-icon {
            font-size: 1.1rem;
            color: $black-color;
            &.light {
              display: block;
            }
            &.dark {
              display: none;
            }
          }
        }
      }
      .acc {
        padding-left: $sec-element-padding;
        position: relative;
        .h-btn {
          @include border-rad(50%);
          width: 50px;
          padding: 0;
          overflow: hidden;
          &:hover {
            cursor: pointer;
          }
          img {
            max-width: 100%;
          }
        }
        .menu {
          display: block;
          padding: 10px;
          min-width: 150px;
          ul {
            gap: 5px;
            padding: 0;
            &::after {
              @media (max-width: 1240px) {
                right: 0;
              }
            }
            li {
              width: 100%;
              padding: 0;
              a {
                @extend %flex-center-;
                gap: 10px;
                width: 100%;
                padding: 5px {
                  left: $sec-element-padding;
                  right: $sec-element-padding;
                }
                text-transform: capitalize;
                font-size: 0.9rem;
                &:hover {
                  background-color: $light-input-background;
                  color: $main-color;
                  .f-icon {
                    color: $main-color;
                  }
                }
                .f-icon {
                  color: $black-color;
                }
                &.danger {
                  font-size: 0.85rem;
                  color: $light-danger-color;
                  &:hover {
                    background-color: $dark-danger-color;
                    color: $white-color;
                    .f-icon {
                      color: $white-color;
                    }
                  }
                  .f-icon {
                    color: $light-danger-color;
                  }
                }
              }
            }
          }
        }
        // .open{
        //   display: none !important;
        // }
      }
    }
  }
  &.scroll {
    background-color: $transparent-color;
    @media (max-width: 767px) {
      top: -67px;
    }
    .container {
      nav {
        ul {
          li {
            &.active {
              background-color: $light-white-color;
              a {
                color: $main-color;
              }
            }
          }
        }
      }
    }
  }
}

// End Header Styling
// Start Dark Mode Styling:-
body {
  &.dark {
    header {
      background-color: $sec-dark-bg;
      box-shadow: 0px 9px 20px -15px $black-color;
      .container {
        .logo {
          a {
            h1 {
              color: $main-dark-color;
            }
          }
        }
        nav {
          @media (max-width: 767px) {
            border-color: $sec-text-color;
          }
          ul {
            li {
              &::after {
                background-color: $main-dark-color;
              }
              &.active {
                background-color: $nav-active-bg;
                a {
                  span,
                  .f-icon {
                    color: $main-dark-color;
                  }
                }
              }
              a {
                &:hover {
                  span,
                  .f-icon {
                    color: $main-dark-color;
                  }
                }
                .f-icon,
                span {
                  color: $white-dark-color;
                }
              }
            }
          }
        }
        .account {
          a {
            @include button-shape($main-dark-color, "dark");
            &:last-of-type {
              background-color: $sec-dark-color;
              border-color: $sec-dark-color;
              &:hover {
                background-color: transparent;
                border-color: $sec-dark-color;
                color: $sec-dark-color;
              }
            }
          }
        }
        .log-in-acc {
          article {
            > .menu {
              background-color: $footer-background;
              box-shadow: $list-dark-box-shadow;
              ul {
                &::after {
                  border-color: transparent transparent $footer-background
                    transparent;
                }
                li {
                  span {
                    color: $white-dark-color;
                  }
                }
              }
            }
          }
          .lang,
          .cart,
          .notification {
            .h-btn {
              span {
                color: $white-dark-color;
              }
            }
            .menu {
              ul {
                li {
                  &:hover {
                    background-color: $sec-dark-bg;
                    color: $main-dark-color;
                  }
                }
              }
            }
            .h-btn {
              a {
                background-color: $main-dark-bg;
                &::after {
                  background-color: $main-dark-color;
                  color: $white-color;
                }
                &:hover {
                  background-color: $nav-active-bg;
                  .f-icon {
                    color: $main-dark-color;
                  }
                }
                .f-icon {
                  color: $white-color;
                }
              }
            }
          }
          .theme {
            .h-btn {
              background-color: $main-dark-bg;
              &:hover {
                background-color: $nav-active-bg;
              }
              .f-icon {
                color: $white-color;
                &.light {
                  display: none;
                }
                &.dark {
                  display: block;
                }
              }
            }
          }
          .acc {
            .menu {
              ul {
                li {
                  a {
                    color: $white-dark-color;
                    &:hover {
                      background-color: $sec-dark-bg;
                      color: $main-dark-color;
                      .f-icon {
                        color: $main-dark-color;
                      }
                    }
                    .f-icon {
                      color: $white-dark-color;
                    }
                    &.danger {
                      color: $dark-danger-color;
                      &:hover {
                        background-color: $dark-danger-color;
                        color: $white-dark-color;
                        .f-icon {
                          color: $white-dark-color;
                        }
                      }
                      .f-icon {
                        color: $dark-danger-color;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.scroll {
        background-color: $dark-transparent-color;
        .container {
          nav {
            ul {
              li {
                &.active {
                  background-color: $nav-active-bg;
                  a {
                    color: $main-dark-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// End Dark Mode Styling
