// import global rules
// @use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;
// import header styling:-
// @use "../sections/header" as *;
// import footer styling:-
// @use "../sections/footer" as *;

// additional page styling
// Start Main Styling:-
main {
  background-color: $light-white-color;
  min-height: calc(100vh - 544px);
  position: relative;
  padding: 0 {
    top: $up-down-padding;
    bottom: $main-element-padding * 2;
  }
  @media (max-width: 767px) {
    padding-top: 150px;
  }
  .container {
    .sec-head {
      padding-bottom: $up-down-padding / 2 !important;
    }
    .sec-body {
      @extend %grid-350-20;
      @media (max-width: 575px) {
        @include grid(280px, $main-element-padding);
      }
      align-content: center;
      .box {
        margin-top: $up-down-padding;
        position: relative;
        background-color: $white-color;
        padding: $main-element-padding;
        .avatar {
          @extend %border-radius-50;
          @include trans(-50%, -100px);
          position: absolute;
          top: 0;
          left: 50%;
          width: $up-down-padding * 2;
          height: $up-down-padding * 2;
          border: $field-top-padding solid $light-white-color;
          background-color: $light-white-color;
          overflow: hidden;
          img {
            width: 100%;
            height: $up-down-padding * 2;
            -o-object-fit: cover;
            object-fit: cover;
          }
        }
        .data {
          text-align: center;
          padding-top: $up-down-padding;
          .head {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 75px;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: $light-white-color;
            }
            h3 {
              font-size: 1.3rem;
              margin: 0;
            }
            span {
              font-size: 0.9rem;
              padding: $sec-element-padding 0 45px;
              display: block;
            }
            p {
              margin: 0;
              @include max-lines(3);
              color: $sec-text-color;
            }
          }
          .links {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 30px;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: $light-white-color;
            }
            padding-top: $main-element-padding * 2;
            h3 {
              font-size: 1.5rem;
              margin-bottom: $main-element-padding;
            }
            .contact {
              @include social-media-links("light");
              flex-wrap: nowrap !important;
              justify-content: center !important;
            }
          }
        }
      }
    }
  }
}

body {
  &.dark {
    main {
      background-color: $main-dark-bg;
      .container {
        .sec-body {
          .box {
            background-color: $sec-dark-bg;
            .avatar {
              border-color: $main-dark-bg;
              background-color: $main-dark-bg;
            }
            .data {
              .head {
                &::before {
                  background-color: $sec-text-color;
                }
                h3 {
                  color: $white-dark-color;
                }
                span {
                  color: $white-dark-color;
                }
                p {
                  color: $sec-text-dark-color;
                }
              }
              .links {
                &::before {
                  background-color: $sec-text-color;
                }
                h3 {
                  color: $white-dark-color;
                }
                .contact {
                  @include social-media-links("dark");
                }
              }
            }
          }
        }
      }
    }
  }
}
