// import global rules
// @use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;
// import header styling:-
// @use "../sections/header" as *;
// import footer styling:-
// @use "../sections/footer" as *;

// additional page styling
// Start Main Styling:-
main {
  background-color: $light-white-color;
  min-height: calc(100vh - 544px);
  padding: 0 {
    top: $up-down-padding;
    bottom: $main-element-padding * 2;
  }
  position: relative;
  @media (max-width: 767px) {
    padding-top: 150px;
  }
  .container {
    @extend %flex-center-center;
    gap: $main-element-padding;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    > section {
      background-color: $white-color;
    }
    .right {
      width: 100%;
      padding-top: $main-element-padding;
      position: relative;
      .back-btn {
        @include back-btn($sec-element-padding, $sec-element-padding, "light");
      }
      @media (max-width: 991px) {
        width: 100%;
      }
      article {
        h1 {
          padding: 15px;
          width: 90%;
          margin: 0 auto;
          text-align: center;
          font-size: 1.5rem;
          color: $main-color;
        }
        .image {
          img {
            width: 100%;
          }
        }
        .info {
          display: block;
          padding: $sec-element-padding 15px 0;
          font-size: 0.9rem;
          color: $sec-text-color;
          span {
            color: $sec-color;
          }
        }
        .article-body {
          padding: $main-element-padding $main-element-padding * 2;
          white-space: break-spaces;
          font: inherit;
          margin: 0;
          @media (max-width: 767px) {
            padding: $main-element-padding 15px;
          }
        }
        .video {
          width: 85%;
          margin: 0 auto;
          padding: 0 15px 30px;
          @media (max-width: 767px) {
            width: 100%;
            height: 340px;
          }
          @media (min-width: 768px) and (max-width: 991px) {
            width: 90%;
            height: 340px;
          }
          @media (min-width: 992px) and (max-width: 1199px) {
            width: 80%;
            height: 440px;
          }
          @media (min-width: 1200px) {
            width: 70%;
            height: 460px;
          }
          iframe {
            width: 100%;
            height: 100%;
          }
        }
      }
      .other {
        padding: 20px {
          bottom: 10px;
          top: 30px;
        }
        @media (max-width: 991px) {
          padding-top: 0;
        }
        .head {
          h2 {
            padding: $main-element-padding $sec-element-padding;
            margin: 0 auto;
            font-size: 1.5rem;
            color: $main-color;
          }
        }
        .swiper {
          overflow: hidden;
          .slider-container {
            padding: 0px 8px;
            .slides {
              width: 100%;
              padding-bottom: 40px;
              .slide {
                @extend %user-select-none;
                @include blog-article-box("light");
              }
            }
          }
          .swiper-navBtn {
            height: 40px;
            width: 40px;
            color: $white-color;
            background-color: $main-color;
            @extend %border-radius-50;
            &:hover {
              background-color: $sec-color;
            }
            &::before,
            &::after {
              font-size: 1rem;
              bottom: -25px;
            }
          }
          .swiper-pagination-bullet {
            background-color: $main-color;
          }
        }
      }
    }
  }
}

body {
  &.dark {
    main {
      background-color: $main-dark-bg;
      .container {
        > section {
          background-color: $sec-dark-bg;
        }
        .right {
          .back-btn {
            @include back-btn(
              $sec-element-padding,
              $sec-element-padding,
              "dark"
            );
          }
          article {
            h1 {
              color: $main-dark-color;
            }
            .image {
              filter: brightness(0.8);
            }
            .info {
              color: $max-dark-white-color;
              span {
                color: $sec-dark-color;
              }
            }
            .article-body {
              color: $sec-text-dark-color;
            }
          }
          .other {
            .head {
              h2 {
                color: $main-dark-color;
              }
            }
            .swiper {
              .slider-container {
                .slides {
                  .slide {
                    @include blog-article-box("dark");
                  }
                }
              }
              .swiper-navBtn {
                color: $white-dark-color;
                background-color: $main-dark-color;
                &:hover {
                  background-color: $sec-dark-color;
                }
              }
              .swiper-pagination-bullet {
                background-color: $main-dark-color;
              }
            }
          }
        }
      }
    }
  }
}
