// import global rules
// @use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;
// import header styling:-
// @use "../sections/header" as *;
// import footer styling:-
// @use "../sections/footer" as *;

// additional page styling

main {
  @extend %flex-stretch-start;
  padding: $up-down-padding $main-element-padding $main-element-padding * 2;
  height: 100vh;
  gap: $main-element-padding;
  @media (max-width: 767px) {
    padding: 150px $sec-element-padding 30px;
    gap: 15px;
  }
  aside {
    @extend %border-radius-10;
    width: 230px;
    padding: $main-element-padding;
    background-color: $white-color;
    box-shadow: $dash-main-box-shadow;
    position: relative;
    @media (max-width: 991px) {
      width: 200px;
    }
    @media (max-width: 767px) {
      width: 60px;
      padding: 15px $sec-element-padding;
    }
    @media (max-width: 575px) {
      padding: {
        left: 5px;
        right: 5px;
      }
    }
    .head {
      width: fit-content;
      margin: 0 auto;
      a {
        display: block;
        color: $main-color !important;
        padding: {
          left: $sec-element-padding;
          right: $sec-element-padding;
        }
        font: {
          weight: 700;
          size: 1.2rem;
        }
        &:hover {
          color: $sec-color !important;
        }
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
    .shape {
      margin-top: $sec-element-padding;
      position: relative;
      span {
        &::before,
        &::after {
          content: "";
          position: absolute;
          height: 2px;
          top: 50%;
          width: calc(50% - 10px);
          background-color: $main-color;
          @extend %translate-y-50;
        }
        &::before {
          left: 0;
        }
        display: block;
        width: 12px;
        height: 12px;
        background-color: $main-color;
        margin: 0 auto;
        @extend %border-radius-50;
        &::after {
          right: 0;
        }
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    .links {
      padding-top: $main-element-padding;
      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        @extend %reset;
        @media (max-width: 767px) {
          align-items: center;
        }
        li {
          @extend %reset;
          padding-top: 5px;
          a {
            display: block;
            width: 100%;
            color: $black-color;
            padding: $sec-element-padding 15px;
            @extend %border-radius-5;
            &:hover {
              color: $main-color;
              background-color: $light-input-background;
              span {
                color: $main-color;
              }
              .f-icon {
                color: $main-color;
              }
            }
            &.active {
              color: $main-color;
              background-color: $light-input-background;
              span {
                color: $main-color;
              }
              .f-icon {
                color: $main-color;
              }
            }
            span {
              color: $black-color;
              @media (max-width: 767px) {
                display: none;
              }
            }
            .f-icon {
              margin-right: $sec-element-padding;
              @media (max-width: 767px) {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
  .content {
    @extend %border-radius-10;
    padding: $main-element-padding;
    background-color: $white-color;
    box-shadow: $dash-main-box-shadow;
    position: relative;
    flex: 1;
    overflow-y: auto;
    @media (max-width: 1199px) {
      padding-right: 10px;
    }
    > div {
      display: none;
      &.active {
        display: block;
      }
    }
    .dashboard {
      display: none;
      &.active {
        @include grid(600px, 20px);
        height: 100%;
        align-content: space-around;
        @media (max-width: 1580px) {
          @include grid(500px, 20px);
        }
        @media (max-width: 1380px) {
          @include grid(400px, 20px);
        }
        @media (max-width: 1199px) {
          @include grid(420px, 20px);
          height: initial;
        }
        @media (max-width: 575px) {
          @include grid(250px, 20px);
        }
      }
      > article {
        @extend %border-radius-10;
        background-color: $light-input-background;
        padding: 20px;
        .head {
          h2 {
            margin-bottom: 40px;
            position: relative;
            color: $main-color;
            font: {
              size: 1.6rem;
              weight: 600;
            }
            &::before,
            &::after {
              content: "";
              position: absolute;
              left: 0;
              height: 3px;
              background-color: $sec-color;
            }
            &::before {
              width: 95px;
              bottom: -8px;
            }
            &::after {
              width: 50px;
              bottom: -15px;
            }
          }
        }
        .info {
          @extend %flex-stretch-start;
          // max-width: 750px;
          margin: 0 auto;
          gap: $main-element-padding;
          @media (max-width: 575px) {
            flex-direction: column;
            gap: $sec-element-padding;
          }
          > div {
            @extend %border-radius-10;
            width: 50%;
            @media (max-width: 575px) {
              width: 100%;
            }
            padding: $main-element-padding;
            background-color: $white-color;
            text-align: center;
            h3 {
              margin-bottom: $sec-element-padding;
              font: {
                size: 1.2rem;
                weight: 600;
              }
            }
            span {
              color: $main-color;
              font: {
                size: 1.4rem;
                weight: 700;
              }
            }
            .f-icon {
              font-size: 2.6rem;
              color: $main-color;
              cursor: pointer;
              &:hover {
                color: $sec-color;
              }
            }
          }
        }
      }
    }
    .sec-head {
      h2 {
        margin-bottom: 40px;
        position: relative;
        color: $main-color;
        font: {
          size: 1.6rem;
          weight: 600;
        }
        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          height: 3px;
          background-color: $sec-color;
        }
        &::before {
          width: 95px;
          bottom: -8px;
        }
        &::after {
          width: 50px;
          bottom: -15px;
        }
      }
    }
    .sec-body {
      .info {
        @extend %flex-stretch-start;
        max-width: 750px;
        margin: 0 auto;
        gap: $main-element-padding;
        @media (max-width: 575px) {
          flex-direction: column;
          gap: $sec-element-padding;
        }
        > div {
          @extend %border-radius-10;
          width: 50%;
          @media (max-width: 575px) {
            width: 100%;
          }
          padding: $main-element-padding;
          background-color: $light-input-background;
          text-align: center;
          h3 {
            margin-bottom: $sec-element-padding;
            font: {
              size: 1.2rem;
              weight: 600;
            }
          }
          span {
            color: $main-color;
            font: {
              size: 1.4rem;
              weight: 700;
            }
          }
          .f-icon {
            font-size: 2.6rem;
            color: $main-color;
            cursor: pointer;
            &:hover {
              color: $sec-color;
            }
          }
        }
      }
      .control {
        padding-top: 30px;
        overflow-x: auto;
        .table {
          min-width: 950px;
          padding-bottom: 5px;
          white-space: nowrap;
          width: 100%;
          .tab-head {
            @include table-head("light");
          }
          .tab-body {
            padding-top: 2px;
            .item {
              @include table-body-item("light");
            }
          }
        }
      }
    }
  }
}

body {
  &.dark {
    main {
      background-color: $main-dark-bg;
      aside {
        background-color: $sec-dark-bg;
        box-shadow: $dark-box-shadow;
        .head {
          a {
            color: $main-dark-color !important;
            &:hover {
              color: $sec-dark-color !important;
            }
          }
        }
        .shape {
          span {
            &::before,
            &::after {
              background-color: $main-dark-color;
            }
            background-color: $main-dark-color;
          }
        }
        .links {
          ul {
            li {
              a {
                &:hover {
                  color: $main-dark-color;
                  background-color: $nav-active-bg;
                  span,
                  .f-icon {
                    color: $main-dark-color;
                  }
                }
                &.active {
                  color: $main-dark-color;
                  background-color: $nav-active-bg;
                  span,
                  .f-icon {
                    color: $main-dark-color;
                  }
                }
                span,
                .f-icon {
                  color: $white-dark-color;
                }
              }
            }
          }
        }
      }
      .content {
        background-color: $sec-dark-bg;
        box-shadow: $dark-box-shadow;
        .dashboard {
          > article {
            background-color: $main-dark-bg;
            .head {
              h2 {
                color: $main-dark-color;
                &::before,
                &::after {
                  background-color: $sec-dark-color;
                }
              }
            }
            .info {
              > div {
                background-color: $sec-dark-bg;
                h3 {
                  color: $white-dark-color;
                }
                span {
                  color: $main-dark-color;
                }
                .f-icon {
                  color: $main-dark-color;
                  &:hover {
                    color: $sec-dark-color;
                  }
                }
              }
            }
          }
        }
        .sec-head {
          h2 {
            color: $main-dark-color;
            &::before,
            &::after {
              background-color: $sec-dark-color;
            }
          }
        }
        .sec-body {
          .info {
            > div {
              background-color: $main-dark-bg;
              h3 {
                color: $white-dark-color;
              }
              span {
                color: $main-dark-color;
              }
              .f-icon {
                color: $main-dark-color;
                &:hover {
                  color: $sec-dark-color;
                }
              }
            }
          }
          .control {
            .table {
              .tab-head {
                @include table-head("dark");
              }
              .tab-body {
                .item {
                  @include table-body-item("dark");
                }
              }
            }
          }
        }
      }
    }
  }
}
