// import global rules
@use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;
// import header styling:-
@use "../sections/header" as *;
// import footer styling:-
@use "../sections/footer" as *;

// additional page styling

// Start Main Styling:-
main {
  background-color: $light-white-color;
  padding: $up-down-padding 0;
  position: relative;
  @media (max-width: 767px) {
    padding-top: 150px;
  }
  .content {
    .container {
      .sec-head {
      }
      .sec-body {
      }
      .sec-foot {
        input[type="button"] {
          @include button-shape($main-color, "light");
        }
      }
    }
  }
}

body {
  &.dark {
    main {
      background-color: $main-dark-bg;
    }
  }
}
