// import global rules
@use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;
// import header styling:-
@use "../sections/header" as *;
// import footer styling:-
@use "../sections/footer" as *;

// additional page styling

// Start Main Styling:-
main {
  background-color: $light-white-color;
  padding: $up-down-padding 0;
  position: relative;
  .content {
    .container {
      .sec-body {
        @extend %flex-start-between;
        @include grid(350px, $main-element-padding);
        .box {
          @extend %border-radius-5;
          background-color: $white-color;
          overflow: hidden;
          .card-top {
            @extend %flex-center-;
            background-color: $main-color;
            position: relative;
            height: 170px;
            .images {
              @extend %border-radius-50;
              margin: 0 auto;
              width: 150px;
              height: 150px;
              overflow: hidden;
              position: absolute;
              top: $sec-element-padding;
              right: $sec-element-padding;
              img {
                width: 100%;
                width: 150px;
                height: 150px;
                object-fit: cover;
              }
            }
            .text {
              width: calc(100% - 170px);
              padding-left: $sec-element-padding;
              h2 {
                font-size: 1.7rem;
                color: $white-color;
                margin: 0;
              }
              span {
                color: $light-white-color;
                font-size: 0.95rem;
              }
            }
          }
          .card-body {
            padding: $main-element-padding {
              bottom: 0;
            }
            p {
              color: $sec-text-color !important;
            }
          }
          .data {
            padding: $main-element-padding;
            .contact-info {
              @include contact-info("light");
              position: relative;
              &::before,
              &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                background-color: $light-white-color;
              }
              &::before {
                top: -10px;
              }
              &::after {
                bottom: -20px;
              }
              h2 {
                font-size: 1.4rem !important;
                margin-bottom: $main-element-padding !important;
              }
              div {
                span {
                  color: $sec-text-color !important;
                }
              }
            }
            .social-icon {
              display: block !important;
              padding-top: 30px;
              h2 {
                font-size: 1.6rem;
                margin-bottom: $main-element-padding;
              }
              > div {
                @include social-media-links("light");
                > div {
                  a {
                    width: 40px !important;
                    height: 40px !important;
                  }
                }
              }
            }
          }
        }
      }
      .sec-foot {
        input[type="button"] {
          @include button-shape($main-color, "light");
        }
      }
    }
  }
}

body {
  &.dark {
    main {
      background-color: $main-dark-bg;
      .content {
        .container {
          .sec-body {
            .box {
              background-color: $sec-dark-bg;
              .card-top {
                background-color: $main-dark-color;
                .text {
                  h2,
                  span {
                    color: $white-dark-color;
                  }
                }
              }
              .card-body {
                h2 {
                  color: $main-dark-color;
                }
                span {
                  color: $white-dark-color;
                }
                p {
                  color: $sec-text-dark-color !important;
                }
              }
              .data {
                .contact-info {
                  @include contact-info("dark");
                  &::before,
                  &::after {
                    background-color: $sec-text-color;
                  }
                  h2 {
                    color: $white-dark-color;
                  }
                  div {
                    span {
                      color: $sec-text-dark-color !important;
                    }
                  }
                }
                .social-icon {
                  h2 {
                    color: $white-dark-color;
                  }
                  > div {
                    @include social-media-links("dark");
                  }
                }
              }
            }
          }
        }
        .sec-foot {
          input[type="button"] {
            @include button-shape($main-dark-color, "dark");
          }
        }
      }
    }
  }
}
