// import global rules
// @use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;
// import header styling:-
// @use "../sections/header" as *;
// import footer styling:-
// @use "../sections/footer" as *;

// additional page styling

body {
  &.dark {
    main {
      background-color: $main-dark-bg;
      .head {
        h1 {
          color: $main-dark-color;
        }
      }
      .content {
        .container {
          // box-shadow: $dark-box-shadow;
          .back-btn {
            @include back-btn(
              $main-element-padding,
              $sec-element-padding,
              dark
            );
          }
          form {
            .top-sec {
              background-color: $sec-dark-bg;
              .right {
                &::after {
                  background-color: $main-dark-bg;
                }
                section {
                  label {
                    color: $white-dark-color;
                  }
                }
                .name {
                  > label {
                    color: $white-dark-color;
                  }
                  .data {
                    div {
                      label {
                        color: $white-dark-color;
                      }
                    }
                  }
                }
                .field {
                  background-color: $main-dark-bg;
                  input {
                    background-color: transparent;
                    color: $white-dark-color;
                    &:focus {
                      ~ span {
                        background-color: $main-dark-color;
                      }
                      ~ .f-icon {
                        color: $main-dark-color;
                      }
                    }
                  }
                  i {
                    color: $sec-dark-color;
                  }
                  span {
                    background-color: $sec-dark-color;
                  }
                }
                .gender {
                  p {
                    color: $sec-text-dark-color;
                  }
                  .choices {
                    .choice {
                      input {
                        @include radio-shape($main-color, "dark");
                      }
                    }
                  }
                }
                .caner-type {
                  .cancer {
                    select {
                      background-color: $sec-dark-bg;
                      color: $white-dark-color;
                      &:focus {
                        border-bottom-color: $main-dark-color;
                      }
                    }
                  }
                }
                .birth-date {
                  input[type="date"] {
                    border-bottom-color: $sec-dark-color;
                    background-color: $sec-dark-bg;
                    color: $white-dark-color;
                    &:focus {
                      border-color: $main-dark-color;
                    }
                  }
                }
              }
              .left {
                background-color: $sec-dark-bg;
                .avatar-upload {
                  .avatar-edit {
                    label {
                      &:after {
                        color: $white-dark-color;
                      }
                    }
                  }
                  .avatar-preview {
                    border-color: $main-dark-bg;
                  }
                }
                .text {
                  h2 {
                    color: $white-dark-color;
                  }
                  span {
                    color: $sec-text-dark-color;
                  }
                }
              }
            }
            .buttons {
              input[type="submit"] {
                @include button-shape($main-dark-color, "dark");
              }
              input[type="reset"] {
                @include button-shape($sec-dark-color, "dark");
              }
            }
          }
        }
      }
    }
  }
}

.Mag-Image {
  width: 600px;
  height: 600px;
}

// Start Main Styling:-
main {
  background-color: $light-white-color;
  position: relative;
  padding: $up-down-padding 0;
  @media (max-width: 767px) {
    padding: {
      // top: 150px;
      left: $sec-element-padding;
      right: $sec-element-padding;
    }
  }
  .head {
    h1 {
      text-align: center;
      font-size: 1.8rem;
      color: $main-color;
      text-transform: uppercase;
      margin: 0;
    }
    padding: {
      bottom: 30px !important;
      left: $sec-element-padding;
      right: $sec-element-padding;
    }
  }
  .content {
    .container {
      position: relative;
      max-width: 1050px;
      // box-shadow: $light-form-shadow;
      .back-btn {
        @include back-btn($main-element-padding, $sec-element-padding, light);
        left: 20px !important;
      }
      form {
        .top-sec {
          @extend %flex-start-center;
          padding: $main-element-padding {
            top: $up-down-padding / 2;
            bottom: 0;
          }
          margin-bottom: $up-down-padding / 2;
          background-color: $white-color;
          gap: 40px;
          @media (max-width: 991px) {
            flex-direction: column;
          }
          .right {
            position: relative;
            width: 75%;
            &::after {
              content: "";
              position: absolute;
              top: -50px;
              left: -40px;
              width: 20px;
              height: calc(100% + 50px);
              background-color: $light-white-color;
              @media (max-width: 991px) {
                content: initial;
              }
            }
            @media (max-width: 991px) {
              width: 100%;
            }
            section {
              margin-bottom: $main-element-padding;
              label {
                display: block;
                margin-bottom: $sec-element-padding;
              }
              .sec-flex {
                @extend %flex-center-between;
                position: relative;
                &::after {
                  @extend %error-sign;
                }
              }
              &:last-of-type {
                padding-bottom: $main-element-padding;
              }
            }
            .name {
              > label {
                display: none !important;
                @media (min-width: 767px) {
                  display: block !important;
                }
              }
              .data {
                @extend %flex-center-between;
                gap: $main-element-padding;
                @media (max-width: 767px) {
                  flex-direction: column;
                  gap: $main-element-padding;
                }
                div {
                  width: 100%;
                  label {
                    @extend %user-select-none;
                    display: none;
                    @media (max-width: 767px) {
                      display: block;
                    }
                  }
                  .field {
                    input {
                      &:focus {
                        @include placeholder-color(transparent);
                      }
                      @media (max-width: 767px) {
                        @include placeholder-color(transparent);
                      }
                    }
                  }
                }
              }
            }
            .field {
              @extend %flex-center-center;
              flex-direction: row-reverse;
              position: relative;
              gap: 5px;
              padding: 0 {
                left: 5px;
                right: 5px;
              }
              background-color: $light-input-background;
              &::after {
                @extend %error-sign;
              }
              input {
                flex: 1;
                padding: $sec-element-padding {
                  left: 5px;
                  right: 0;
                }
                border: none;
                outline: none;
                background-color: transparent;
                &:focus {
                  ~ span {
                    background-color: $main-color;
                  }
                  ~ .f-icon {
                    color: $main-color;
                  }
                }
              }
              i {
                color: $sec-color;
              }
              span {
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: $sec-color;
                height: 2px;
                width: 100%;
              }
            }
            .gender {
              p {
                margin: 0 {
                  top: $sec-element-padding;
                }
                &:first-of-type {
                  @media (max-width: 991px) {
                    display: none;
                  }
                }
                &:last-of-type {
                  display: none;
                  @media (max-width: 991px) {
                    display: block;
                  }
                }
              }
              .choices {
                @extend %flex-center-center;
                gap: $main-element-padding * 2;
                .choice {
                  input {
                    margin-bottom: 5px;
                    @include radio-shape($main-color, light);
                  }
                  label {
                    @extend %user-select-none;
                    cursor: pointer;
                    display: inline-block;
                    margin: {
                      left: $sec-element-padding;
                      top: $sec-element-padding;
                      bottom: 0;
                    }
                  }
                }
              }
            }
            .caner-type {
              @extend %flex-center-between;
              gap: $sec-element-padding;
              .cancer {
                flex: 1;
                select {
                  width: 100%;
                  padding: 7px $sec-element-padding;
                  outline: none;
                  text-align: center;
                  background-color: $light-input-background;
                  border: none {
                    bottom: 2px solid $sec-color;
                  }
                  &:focus {
                    border-bottom-color: $main-color;
                  }
                }
              }
            }
            .birth-date {
              input[type="date"] {
                flex: 1;
                text-align: center;
                margin-left: $sec-element-padding;
                padding: $field-top-padding $sec-element-padding;
                border: none;
                outline: none;
                border-bottom: 2px solid $sec-color;
                background-color: $light-input-background;
                &:focus {
                  border-color: $main-color;
                }
              }
            }
          }
          .left {
            width: 25%;
            @media (max-width: 991px) {
              width: 100%;
            }
            .avatar-upload {
              position: relative;
              max-width: 200px;
              margin: 0 auto;
              .avatar-edit {
                position: absolute;
                right: 15px;
                z-index: 1;
                bottom: 10px;
                input {
                  display: none;
                }
                label {
                  @extend %ni-flex-center-center;
                  @extend %border-radius-50;
                  width: 34px;
                  height: 34px;
                  margin-bottom: 0;
                  background-color: $main-color;
                  border: 1px solid transparent;
                  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                  cursor: pointer;
                  font-weight: normal;
                  transition: all 0.2s ease-in-out;
                  &:hover {
                    background-color: $main-color-hover;
                    border-color: $main-color-hover;
                  }
                  &:after {
                    content: "\f040";
                    font-family: "FontAwesome";
                    color: $white-color;
                  }
                }
              }
              .avatar-preview {
                @extend %border-radius-50;
                width: 192px;
                height: 192px;
                position: relative;
                border: 6px solid $white-color;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
                > div {
                  @extend %border-radius-50;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  overflow: hidden;
                  img {
                    flex: 1;
                    height: 100%;
                  }
                }
              }
            }
            .text {
              text-align: center;
              h2 {
                padding-top: $main-element-padding;
                font-size: 1.5em;
              }
              span {
                font-size: 1.2rem;
                color: $sec-text-color;
              }
            }
          }
        }
        .button {
          @extend %flex-center-between;
          gap: $sec-element-padding;
          margin-bottom: 15px;
          @media (max-width: 767px) {
            margin-bottom: $main-element-padding;
          }
          @media (max-width: 370px) {
            flex-direction: column;
          }
          input[type="submit"] {
            @include button-shape($main-color, "light");
          }
          input[type="reset"] {
            @include button-shape($sec-color, "light");
          }
        }
      }
    }
  }
}
