// import global rules
// @use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;

// additional page styling

body {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(5 156 177 / 37%);
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 12%);
    z-index: -1;
  }
  header {
    display: none;
  }
  background-image: url(../../Data/un-used-Images/11852427_4858794.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  @extend %flex-center-center;
  // background-color: $light-white-color;
  background-color: #ebfcff;
  &.dark {
    &::before {
      background-color: rgb(5 156 177 / 35%);
    }
    &::after {
      background-color: rgb(0 0 0 / 72%);
    }
    background-color: $main-dark-bg;
    .card {
      background-color: $sec-dark-bg;
      box-shadow: $dark-box-shadow;
      .head {
        h2 {
          color: $main-dark-color;
        }
        p {
          color: $sec-text-dark-color;
        }
      }
      .body {
        form {
          section {
            label {
              color: $white-dark-color;
            }
            .field {
              background-color: $main-dark-bg;
              input[type="text"] {
                background-color: transparent;
                color: $white-dark-color;
                &:focus {
                  ~ span {
                    background-color: $main-dark-color;
                  }
                  ~ .f-icon {
                    color: $main-dark-color;
                  }
                }
              }
              span {
                background-color: $sec-dark-color;
              }
              .f-icon {
                color: $sec-dark-color;
              }
            }
          }
          .btns {
            input[type="submit"] {
              @include button-shape($main-dark-color, "dark");
              margin: initial;
            }
            input[type="button"] {
              @include button-shape($sec-dark-color, "dark");
              margin: initial;
              &:hover {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}

.card {
  @extend %border-radius-10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: $up-down-padding / 2 $main-element-padding;
  max-width: 850px;
  margin: auto;
  background-color: $white-color;
  box-shadow: $light-form-shadow;
  @media (max-width: 767px) {
    max-width: 400px;
  }
  .head {
    padding: 0;
    padding-bottom: 50px;
    max-width: 85%;
    margin: auto;
    text-align: center;
    @media (max-width: 767px) {
      max-width: 100%;
    }
    h2 {
      color: $main-color;
      margin: 0 {
        bottom: 10px;
      }
    }
    p {
      margin: 0;
      color: $sec-text-color;
      @media (max-width: 767px) {
        font-size: 0.95rem;
      }
    }
  }
  .body {
    form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      section {
        min-width: 70%;
        margin: auto;
        @media (max-width: 767px) {
          min-width: 100%;
        }
        label {
          display: block;
          margin-bottom: 10px;
        }
        .field {
          @extend %flex-center-center;
          flex-direction: row-reverse;
          position: relative;
          padding: 0 {
            left: 5px;
            right: 5px;
          }
          background-color: $light-input-background;
          &::after {
            @extend %error-sign;
          }
          input[type="text"] {
            flex: 1;
            padding: 10px {
              left: 5px;
              right: 0;
            }
            border: none;
            outline: none;
            background-color: transparent;
            &:focus {
              ~ span {
                background-color: $main-color;
              }
              ~ .f-icon {
                color: $main-color;
              }
            }
          }
          span {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $sec-color;
            height: 2px;
            width: 100%;
          }
          .f-icon {
            color: $sec-color;
          }
        }
      }
      .btns {
        @extend %flex-center-center;
        gap: 20px;
        @media (max-width: 400px) {
          flex-direction: column;
          gap: 10px;
        }
        input[type="submit"] {
          @include button-shape($main-color, "light");
          display: inline-block;
          margin: initial;
          @media (max-width: 400px) {
            width: 100%;
          }
        }
        input[type="button"] {
          @include button-shape($sec-color, "light");
          display: inline-block;
          margin: initial;
          @media (max-width: 400px) {
            width: 100%;
          }
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}
