// import global rules
// @use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;
// import header styling:-
// @use "../sections/header" as *;
// import footer styling:-
// @use "../sections/footer" as *;

// additional page styling

// Start Main Styling:-
main {
  background-color: $light-white-color;
  padding: $up-down-padding 0;
  position: relative;
  .content {
    .container {
      .sec-body {
        .med {
          position: relative;
          .filter {
            position: absolute;
            top: -50px;
            right: 0;
            display: none;
            border: none;
            width: 40px;
            cursor: pointer;
            z-index: 10;
            padding: $sec-element-padding;
            span {
              display: block;
              height: 4px;
              background-color: $black-color;
              margin-bottom: 4px;
            }
          }
          .side-bar {
            @extend %border-radius-5;
            display: none;
            position: absolute;
            top: -50px;
            right: 40px;
            z-index: 10;
            padding: $field-top-padding;
            background-color: $white-color;
            width: 200px;
            height: 30rem;
            color: $black-color;
            h2 {
              font-size: 1.7rem;
              margin: 0;
              margin-bottom: 20px;
            }
            ul {
              @extend %reset;
              li {
                @extend %border-radius-5;
                padding: 10px 7px;
                cursor: pointer;
                // a {
                // color: ;
                // }
              }
              .active {
                color: $white-color;
                background-color: $main-color;
              }
            }
          }
          .cards {
            gap: 20px;
            position: relative;
            @extend %flex-start-between;
            .left-side {
              @extend %border-radius-5;
              padding: 20px 10px;
              background-color: $white-color;
              width: 200px;
              color: $black-color;
              @media (min-width: 768px) {
                position: sticky;
                top: 90px;
              }
              h2 {
                font-size: 1.7rem;
                margin: 0;
                margin-bottom: 20px;
              }
              ul {
                @extend %reset;
                li {
                  a {
                    @extend %border-radius-5;
                    padding: 10px;
                    display: block;
                    width: 100%;
                    margin-bottom: 4px;
                    &:hover {
                      color: $main-color;
                      background-color: $light-input-background;
                    }
                  }
                  &.active {
                    a {
                      color: $main-color;
                      background-color: $light-input-background;
                    }
                  }
                }
              }
            }
            .right-side {
              overflow: hidden;
              flex: 1;
              padding: 0;
              @extend %grid-300-20;
              .card {
                // display: none;
                // &.active {
                display: block;
                // }
                .image {
                  img {
                    width: 100%;
                  }
                }
                .card-body {
                  .med-details:after {
                    margin-top: 10px;
                    background-color: $light-white-color;
                    width: 100%;
                    height: 1px;
                    display: block;
                    content: " ";
                  }
                  .pharmacies {
                    padding-top: 10px;
                    @extend %flex-start-center;
                    flex-wrap: wrap;
                    gap: 10px;
                    a {
                      color: $black-color;
                      background-color: $light-white-color;
                      border-color: $light-white-color;
                      font-size: 0.9rem;
                    }
                    a:hover {
                      color: $white-color;
                      background-color: $main-color;
                      border-color: $main-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .sec-foot {
        input[type="button"] {
          @include button-shape($main-color, "light");
        }
      }
    }
  }
}

.open {
  display: block !important;
  h2 {
    font-size: 1.2rem !important;
  }
  ul {
    li {
      font-size: 0.9rem !important;
    }
  }
}

//media
@media (max-width: 767px) {
  .sec-body .med {
    .filter {
      display: block !important;
    }
    .left-side {
      display: none;
      position: absolute;
      right: 50px;
      top: -50px;
      z-index: 10;
    }
    .right-side {
      width: 100% !important;
    }
  }
}

//dark mode
body {
  &.dark {
    main {
      background-color: $main-dark-bg;
      .content {
        .container {
          .sec-body {
            .med {
              .filter {
                background: none;
                span {
                  background-color: $sec-dark-color;
                }
              }
              .cards {
                .left-side {
                  background-color: $sec-dark-bg;
                  color: $white-dark-color;
                  ul {
                    li {
                      a {
                        color: $white-dark-color;
                        &:hover {
                          color: $main-dark-color;
                          background-color: $main-dark-bg;
                        }
                      }
                      &.active {
                        a {
                          color: $main-dark-color;
                          background-color: $main-dark-bg;
                        }
                      }
                    }
                  }
                }
              }
              .right-side {
                .card {
                  background-color: $sec-dark-bg;
                  .card-body {
                    h5 {
                      color: $white-dark-color;
                    }
                    span {
                      color: $sec-text-dark-color;
                    }
                  }
                  .med-details:after {
                    background-color: $nav-active-bg;
                  }
                  .pharmacies {
                    a {
                      color: $white-dark-color;
                      background-color: $main-dark-bg;
                      border-color: $main-dark-bg;
                      &:hover {
                        color: $white-dark-color;
                        background-color: $main-dark-color;
                        border-color: $main-dark-color;
                      }
                    }
                  }
                }
              }
            }
          }
          .sec-foot {
            input[type="button"] {
              @include button-shape($main-color, "dark");
            }
          }
        }
      }
    }
  }
}
