// import global rules
@use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;
// import header styling:-
@use "../sections/header" as *;
// import footer styling:-
@use "../sections/footer" as *;

// additional page styling
// Start Main Styling:-
main {
  padding: $up-down-padding 0;
  position: relative;
  @media (max-width: 767px) {
    padding-top: 150px;
  }
  .content {
    .container {
      .sec-body {
        form {
          width: 100%;
          div {
            width: 100%;
            position: relative;
            &:not(:first-of-type) {
              margin-top: 30px;
            }
            input,
            textarea {
              padding: 10px 15px;
              width: 100%;
              outline: none;
              border: none;
              border-bottom: 2px solid $sec-color;
              background-color: $light-input-background;
              // background-color: $sec-dark-bg;
              &:focus {
                @include placeholder-color(transparent);
                border-color: $main-color;
              }
            }
            textarea {
              min-height: 300px;
              height: 600px;
              resize: vertical;
            }
            input[type="file"] {
              cursor: pointer;
              &::file-selector-button {
                background-color: transparent;
                border: none;
                outline: none;
                color: inherit;
              }
              &::-ms-browse {
                background-color: transparent;
                border: none;
                outline: none;
                color: inherit;
              }
              &::-webkit-file-upload-button {
                background-color: transparent;
                border: none;
                outline: none;
                color: inherit;
              }
              &::file-selector-button {
                background-color: transparent;
                border: none;
                outline: none;
                color: inherit;
              }
            }
            span {
              display: inline-block;
              width: fit-content;
              text-transform: lowercase;
              position: absolute;
              right: 40px;
              top: 50%;
              @include trans-y(-50%);
              color: $error-input-color;
              font-size: 0.9rem;
              @media (max-width: 767px) {
                width: calc(100% - 5px);
                right: initial;
                top: -12px;
                left: 5px;
              }
            }
            &.success::after,
            &.error::after {
              font-weight: 900;
              font-family: "Font Awesome 5 Free";
              position: absolute;
              top: 50%;
              right: 10px;
              @include trans-y(-50%);
            }
            &.success {
              &::after {
                content: "\f058";
                color: $success-input-color;
              }
              > input,
              > textarea {
                border-color: $success-input-color;
              }
            }
            &.error {
              &::after {
                content: "\f057";
                color: $error-input-color;
              }
              > input,
              > textarea {
                border-bottom-color: $error-input-color;
              }
            }
            input[type="submit"] {
              @include button-shape($main-color, "light");
            }
          }
        }
      }
    }
  }
}

.content .box pre {
  white-space: break-spaces;
}

body {
  &.dark {
    main {
      background-color: $main-dark-bg;
      .content {
        .container {
          .sec-body {
            form {
              div {
                input,
                textarea {
                  color: $dark-white-color;
                  background-color: $sec-dark-bg;
                  border-bottom-color: $sec-dark-color;
                  &:focus {
                    border-color: $main-dark-color;
                  }
                }
                input[type="submit"] {
                  @include button-shape($main-color, "dark");
                }
              }
            }
          }
        }
      }
    }
  }
}
