// import global rules
@use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;
// import header styling:-
@use "../sections/header" as *;
// import footer styling:-
@use "../sections/footer" as *;
// additional page styling

// Start Main Styling:-
main {
  min-height: calc(100vh - 544px);
  padding: 0 {
    top: $up-down-padding;
    bottom: $main-element-padding * 2;
  }
  .container {
    background-color: $light-white-color;
    position: relative;
    .back-btn {
      @include back-btn($sec-element-padding, $sec-element-padding, "light");
    }
    > h1 {
      display: block;
      padding: 15px {
        bottom: 0;
      }
      width: 90%;
      margin: 0 30px 0;
      text-align: center;
      font-size: 1.5rem;
      color: $main-color;
    }
    .content {
      padding: $main-element-padding $sec-element-padding;
      .upper-sec {
        @extend %flex-stretch-center;
        gap: $main-element-padding;
        @media (max-width: 991px) {
          flex-direction: column;
          > section {
            width: 100% !important;
          }
        }
        background-color: $white-color;
        padding: $main-element-padding;
        .image {
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
          }
        }
        section {
          width: 50%;
          > div {
            h2 {
              text-align: center;
              font-size: 1.4rem;
              margin-bottom: $main-element-padding;
            }
          }
        }
        .data {
          .social-icon {
            display: block !important;
            > div {
              @include social-media-links("light");
              justify-content: center;
              > div {
                a {
                  width: $main-element-padding * 2 !important;
                  height: $main-element-padding * 2 !important;
                }
              }
            }
          }
          .contact-info {
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              left: 0;
              top: 20px;
              background-color: $light-white-color;
            }
            @include contact-info("light");
            position: relative;
            padding-top: 40px;
            .box {
              span {
                color: initial;
              }
            }
          }
        }
      }
      .head {
        h2 {
          padding: $main-element-padding 0;
          margin: 0 auto;
          font-size: 1.5rem;
          color: $main-color;
        }
      }
      .medicines {
        form {
          div {
            overflow-x: auto;
            .table {
              min-width: 750px;
              margin-bottom: 0;
              white-space: nowrap;
              width: 100%;
              @media (max-width: 991px) {
                padding-bottom: $sec-element-padding / 2;
                margin-bottom: initial;
              }
              .tab-head {
                @include table-head("light");
              }
              .tab-body {
                padding-top: 2px;
                .item {
                  @include table-body-item("light");
                  &:hover {
                    span {
                      background-color: $light-input-background;
                    }
                  }
                  span {
                    background-color: $white-color;
                  }
                }
              }
            }
          }

          .cards {
            @extend %grid-250-20;
            .box {
              @extend %border-radius-0;
              .card {
                @extend %border-radius-0;
                border: 1px solid $light-white-color;
                position: relative;
                cursor: pointer;
                user-select: none;
                &:before {
                  content: "";
                  position: absolute;
                  top: 10px;
                  right: 10px;
                  border: 1px solid $light-white-color;
                  width: 20px;
                  height: 20px;
                  z-index: 100;
                }
                &:after {
                  content: "";
                  position: absolute;
                  top: 19px;
                  right: 19px;
                  border: 1px solid transparent;
                  opacity: 0;
                  background-color: $main-color;
                  width: 0;
                  height: 0;
                  transition: 0.3s;
                  -webkit-transition: 0.3s;
                  -moz-transition: 0.3s;
                  -ms-transition: 0.3s;
                  -o-transition: 0.3s;
                }
                .image {
                  width: 100%;
                  height: 200px;
                  img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                  }
                }
                .description {
                  padding: 10px {
                    bottom: 0;
                  }
                  h2 {
                    font-size: 1.1rem;
                    font-weight: 600;
                  }
                  p {
                    font-size: 0.9rem;
                  }
                }
              }
              input {
                cursor: pointer;
                display: none;
                &:checked + .card {
                  border-color: $main-color;
                  &::before {
                    border-color: $main-color;
                  }
                  &::after {
                    opacity: 1;
                    border-color: $main-color;
                    transform: scale(7);
                    -webkit-transform: scale(7);
                    -moz-transform: scale(7);
                    -ms-transform: scale(7);
                    -o-transform: scale(7);
                  }
                  .description {
                    background-color: $main-color;
                    h2,
                    p {
                      color: $white-color;
                    }
                  }
                }
              }
            }
          }

          .order-data {
            padding-top: 20px;
            @extend %grid-200-10;
            section {
              label {
                display: block;
                margin-bottom: $sec-element-padding;
              }
              .felid {
                @extend %flex-center-center;
                flex-direction: row-reverse;
                position: relative;
                gap: 5px;
                padding: 0 {
                  left: 5px;
                  right: 5px;
                }
                background-color: $light-input-background;
                input {
                  flex: 1;
                  padding: $sec-element-padding {
                    left: 5px;
                    right: 0;
                  }
                  border: none;
                  outline: none;
                  background-color: transparent;
                  &:focus {
                    @include placeholder-color(transparent);
                    ~ span {
                      background-color: $main-color;
                    }
                  }
                }
                span {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  background-color: $sec-color;
                  height: 2px;
                  width: 100%;
                }
              }
            }
          }
          .btn {
            width: 100%;
            padding: 0 {
              top: $main-element-padding;
            }
            input {
              @include button-shape($main-color, "light");
              margin-right: 0 !important;
            }
          }
        }
      }
      .other {
        .swiper {
          @include charities-slider("light");
        }
      }
    }
  }
}

// start dark mode styling:-
body {
  &.dark {
    main {
      background-color: $main-dark-bg;
      .container {
        background-color: $sec-dark-bg;
        .back-btn {
          @include back-btn($sec-element-padding, $sec-element-padding, "dark");
        }
        > h1 {
          color: $main-dark-color;
        }
        .content {
          .upper-sec {
            background-color: $main-dark-bg;
            .image {
              img {
                filter: brightness(0.9);
                -webkit-filter: brightness(0.9);
              }
            }
            .data {
              > div {
                h2 {
                  color: $white-dark-color;
                }
              }
              .social-icon {
                > div {
                  @include social-media-links("dark");
                  justify-content: center;
                }
              }
              .contact-info {
                &::before {
                  background-color: $sec-text-color;
                }
                @include contact-info("dark");
                .box {
                  span {
                    color: $sec-text-dark-color !important;
                  }
                }
              }
            }
          }
          .head {
            h2 {
              color: $main-dark-color;
            }
          }
          .medicines {
            form {
              .table {
                .tab-head {
                  @include table-head("dark");
                }
                .tab-body {
                  .item {
                    @include table-body-item("dark");
                    span {
                      background-color: $main-dark-bg;
                    }
                  }
                }
              }

              .cards {
                .box {
                  .card {
                    border-color: $main-dark-bg;
                    &:before {
                      border-color: $main-dark-bg;
                    }
                    &:after {
                      border-color: transparent;
                      background-color: $main-dark-color;
                    }
                    .description {
                      background-color: $main-dark-bg;
                      h2,
                      p {
                        color: $sec-text-dark-color;
                      }
                    }
                  }
                  .image {
                    img {
                      filter: brightness(0.9);
                      -webkit-filter: brightness(0.9);
                    }
                  }
                  input {
                    &:checked + .card {
                      border-color: $main-dark-color;
                      &::before {
                        border-color: $main-dark-color;
                      }
                      &::after {
                        border-color: $main-dark-color;
                      }
                      .description {
                        background-color: $main-dark-color;
                        h2,
                        p {
                          color: $black-color;
                        }
                      }
                    }
                  }
                }
              }

              .order-data {
                section {
                  label {
                    color: $sec-text-dark-color;
                  }
                  .felid {
                    background-color: $main-dark-bg;
                    input {
                      background-color: transparent;
                      color: $white-dark-color;
                      &:focus {
                        @include placeholder-color(transparent);
                        ~ span {
                          background-color: $main-dark-color;
                        }
                      }
                    }
                    span {
                      background-color: $sec-dark-color;
                    }
                  }
                }
              }
              .btn {
                input {
                  @include button-shape($main-dark-color, "dark");
                }
              }
            }
          }
          .other {
            .swiper {
              @include charities-slider("dark");
            }
          }
        }
      }
    }
  }
}
