// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;

// additional page styling

// Start Main Styling:-
main {
  background-color: $light-white-color;
  padding: $up-down-padding 0;
  position: relative;
  @media (max-width: 767px) {
    padding-top: 150px;
  }
  .content {
    .container {
      .sec-body {
        @extend %grid-350-20;
        .box {
        }
      }
      .sec-foot {
        input[type="button"] {
          @include button-shape($main-color, "light");
        }
      }
    }
  }
}

// start dark mode styling:-
body {
  &.dark {
    main {
      background-color: $main-dark-bg;
      .content {
        .container {
          .sec-body {
            .box {
            }
          }
          .sec-foot {
            input[type="button"] {
              @include button-shape($main-color, "dark");
            }
          }
        }
      }
    }
  }
}
