// import global rules
// @use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;
// import header styling:-
// @use "../sections/header" as *;
// import footer styling:-
// @use "../sections/footer" as *;

// @use "../sections/view_profile_global" as *;

// additional page styling

// Start Main Styling:-
main {
  background-color: $light-white-color;
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    position: relative;
    padding-bottom: $up-down-padding / 2;
    @media (max-width: 575px) {
      gap: 10px;
    }
    aside {
      @extend %border-radius-5;
      position: sticky;
      top: 90px;
      width: 230px;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      padding: $main-element-padding;
      background-color: $white-color;
      @media (max-width: 991px) {
        width: 200px;
      }
      @media (max-width: 767px) {
        width: 60px;
        padding: 15px $sec-element-padding;
        top: 65px;
      }
      @media (max-width: 575px) {
        padding: {
          left: $sec-element-padding / 2;
          right: $sec-element-padding / 2;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        @extend %reset;
        @media (max-width: 767px) {
          align-items: center;
        }
        li {
          @extend %reset;
          padding-top: $sec-element-padding / 2;
          a,
          button {
            display: block;
            width: 100%;
            color: $black-color;
            padding: $sec-element-padding 15px;
            @extend %border-radius-5;
            @media (max-width: 767px) {
              padding: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 45px;
              height: 45px;
              .f-icon {
                font-size: 1.1rem;
              }
            }
            &:hover {
              color: $main-color;
              background-color: $light-input-background;
              span {
                color: $main-color;
              }
              .f-icon {
                color: $main-color;
              }
            }
            &.active {
              color: $main-color;
              background-color: $light-input-background;
              span {
                color: $main-color;
              }
              .f-icon {
                color: $main-color;
              }
            }
            span {
              color: $black-color;
              @media (max-width: 767px) {
                display: none;
              }
            }
            .f-icon {
              @extend %zero-transition;
              margin-right: $sec-element-padding;
              @media (max-width: 767px) {
                margin-right: 0;
              }
            }
          }
          &:last-of-type {
            button {
              outline: none;
              border: none;
              background-color: transparent;
              text-align: inherit;
              span,
              .f-icon {
                color: $light-danger-color;
              }
              &:hover {
                background-color: $light-danger-color;
                span,
                .f-icon {
                  color: $white-color;
                }
              }
            }
          }
        }
      }
    }
    .content {
      @extend %border-radius-5;
      background-color: $white-color;
      padding: 20px;
      overflow: hidden;
      flex: 1;
      position: relative;
      h2 {
        font-size: 1.3rem;
        text-align: center;
        color: $sec-color;
      }
      h3 {
        font-size: 1.1rem;
        color: $sec-color;
      }
      .filter {
        padding-bottom: $main-element-padding;
        ul {
          @extend %flex-center-center;
          flex-wrap: wrap;
          gap: $sec-element-padding;
          li {
            a {
              display: block;
              width: fit-content;
              padding: $field-top-padding $sec-element-padding;
              background-color: transparent;
              color: $main-color;
              border: 1px solid $main-color;
              &:hover {
                background-color: $main-color;
                color: $white-color;
              }
            }
            &.active {
              a {
                background-color: $sec-color;
                color: $white-color;
                border-color: $sec-color;
              }
            }
          }
        }
      }
      .sec-body {
        .order {
          @extend %border-radius-5;
          padding: 20px;
          background-color: $light-white-color;
          position: relative;
          margin-top: 20px;
          display: none;
          &.active {
            display: block;
          }
          &::after {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $light-white-color;
          }
          &:first-of-type {
            margin-top: 0;
            &::after {
              display: none;
            }
          }
          .order-info {
            padding-bottom: 20px;
            .content {
              @media (max-width: 575px) {
                flex-direction: column;
                width: 100%;
              }
              @extend %flex-center-start;
              gap: 20px;
              .image {
                height: 100px;
                width: 100px;
                img {
                  max-width: 100%;
                }
                @media (max-width: 991px) {
                  height: 115px;
                  width: 115px;
                }
              }
              .grid {
                @include grid(165px, 10px);
                flex: 1;
                @media (max-width: 575px) {
                  width: 100%;
                }
                article {
                  @extend %flex-center-center;
                  flex-direction: column;
                  gap: 10px;
                  span {
                    &:last-of-type {
                      font-size: 1.5rem;
                      font-weight: 600;
                      color: $main-color;
                    }
                  }
                }
              }
            }
          }
          .order-cont {
            .content {
              @include grid(250px, 10px);
              .box {
                @extend %flex-center-center;
                gap: 10px;
                background-color: $white-color;
                .image {
                  width: 70px;
                  height: 70px;
                  img {
                    max-width: 100%;
                  }
                }
                .info {
                  @extend %flex-start-center;
                  flex-direction: column;
                  flex: 1;
                  gap: 10px;
                  span {
                    &:first-of-type {
                      font-weight: 500;
                    }
                    &:last-of-type {
                      font-size: 0.9rem;
                      font-weight: 400;
                      color: $sec-text-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .sec-foot {
        padding-top: 20px;
        input[type="button"] {
          @include button-shape($main-color, "light");
        }
      }
    }
  }
}

// start dark mode
body {
  &.dark {
    main {
      background-color: $sec-dark-bg;
      .container {
        aside {
          background-color: $main-dark-bg;
          ul {
            li {
              a {
                &:hover {
                  color: $main-dark-color;
                  background-color: $nav-active-bg;
                  span,
                  .f-icon {
                    color: $main-dark-color;
                  }
                }
                &.active {
                  color: $main-dark-color;
                  background-color: $nav-active-bg;
                  span,
                  .f-icon {
                    color: $main-dark-color;
                  }
                }
                span,
                .f-icon {
                  color: $white-dark-color;
                }
              }
              &:last-of-type {
                button {
                  span,
                  .f-icon {
                    color: $dark-danger-color;
                  }
                  &:hover {
                    background-color: $dark-danger-color;
                    span,
                    .f-icon {
                      color: $white-dark-color;
                    }
                  }
                }
              }
            }
          }
        }
        .content {
          background-color: $main-dark-bg;
          h2,
          h3 {
            color: $sec-dark-color;
          }
          .filter {
            ul {
              li {
                a {
                  background-color: $sec-dark-bg;
                  color: $main-dark-color;
                  border: 1px solid $main-dark-color;
                  &:hover {
                    background-color: $main-dark-color;
                    color: $white-dark-color;
                  }
                }
                &.active {
                  a {
                    background-color: $sec-dark-color;
                    color: $white-dark-color;
                    border-color: $sec-dark-color;
                  }
                }
              }
            }
          }
          .sec-body {
            .order {
              background-color: $sec-dark-bg;
              &::after {
                background-color: $sec-dark-bg;
              }
              .order-info {
                .content {
                  .grid {
                    article {
                      span {
                        color: $white-dark-color;
                        &:last-of-type {
                          color: $main-dark-color;
                        }
                      }
                    }
                  }
                }
              }
              .order-cont {
                .content {
                  .box {
                    background-color: $main-dark-bg;
                    .info {
                      span {
                        color: $white-dark-color;
                        &:last-of-type {
                          color: $sec-text-dark-color;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .sec-foot {
            input[type="button"] {
              @include button-shape($main-dark-color, "dark");
            }
          }
        }
      }
    }
  }
}
