// import global rules
// @use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;
// import header styling:-
// @use "../sections/header" as *;
// import footer styling:-
// @use "../sections/footer" as *;

// @use "../sections/dashboard_global" as *;

// additional page styling

main {
  background-color: $light-white-color;
  .cont {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    position: relative;
    padding-bottom: $up-down-padding / 2;
    @media (max-width: 575px) {
      gap: 10px;
    }
    aside {
      @extend %border-radius-5;
      position: sticky;
      top: 90px;
      min-width: 230px;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      padding: $main-element-padding;
      background-color: $white-color;
      @media (max-width: 991px) {
        min-width: 200px;
      }
      @media (max-width: 767px) {
        min-width: 60px;
        padding: 15px $sec-element-padding;
        top: 65px;
      }
      @media (max-width: 575px) {
        padding: {
          left: $sec-element-padding / 2;
          right: $sec-element-padding / 2;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        @extend %reset;
        @media (max-width: 767px) {
          align-items: center;
        }
        li {
          @extend %reset;
          padding-top: $sec-element-padding / 2;
          a,
          button {
            display: block;
            width: 100%;
            color: $black-color;
            padding: $sec-element-padding 15px;
            @extend %border-radius-5;
            @media (max-width: 767px) {
              padding: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 45px;
              height: 45px;
              .f-icon {
                font-size: 1.1rem;
              }
            }
            &:hover {
              color: $main-color;
              background-color: $light-input-background;
              span {
                color: $main-color;
              }
              .f-icon {
                color: $main-color;
              }
            }
            &.active {
              color: $main-color;
              background-color: $light-input-background;
              span {
                color: $main-color;
              }
              .f-icon {
                color: $main-color;
              }
            }
            span {
              color: $black-color;
              @media (max-width: 767px) {
                display: none;
              }
            }
            .f-icon {
              @extend %zero-transition;
              margin-right: $sec-element-padding;
              @media (max-width: 767px) {
                margin-right: 0;
              }
            }
          }
          &:last-of-type {
            button {
              outline: none;
              border: none;
              background-color: transparent;
              text-align: inherit;
              span,
              .f-icon {
                color: $light-danger-color;
              }
              &:hover {
                background-color: $light-danger-color;
                span,
                .f-icon {
                  color: $white-color;
                }
              }
            }
          }
        }
      }
    }
    .content {
      flex: 1;
      padding: 20px;
      background-color: #fff;
      overflow-y: auto;
      h2 {
        margin-bottom: 40px;
        position: relative;
        color: $main-color;
        text-align: center;
        font: {
          size: 1.6rem;
          weight: 600;
        }
        // &::before,
        // &::after {
        //   content: "";
        //   position: absolute;
        //   left: 0;
        //   height: 3px;
        //   background-color: $sec-color;
        // }
        // &::before {
        //   width: 95px;
        //   bottom: -8px;
        // }
        // &::after {
        //   width: 50px;
        //   bottom: -15px;
        // }
      }
      .sec-body {
        .info {
          @extend %flex-stretch-start;
          max-width: 750px;
          margin: 0 auto;
          gap: $main-element-padding;
          @media (max-width: 575px) {
            flex-direction: column;
            gap: $sec-element-padding;
          }
          > div {
            @extend %border-radius-10;
            width: 50%;
            @media (max-width: 575px) {
              width: 100%;
            }
            padding: $main-element-padding;
            background-color: $light-input-background;
            text-align: center;
            h3 {
              margin-bottom: $sec-element-padding;
              font: {
                size: 1.2rem;
                weight: 600;
              }
            }
            span {
              color: $main-color;
              font: {
                size: 1.4rem;
                weight: 700;
              }
            }
            a {
              .f-icon {
                font-size: 2.6rem;
                color: $main-color;
                cursor: pointer;
                &:hover {
                  color: $sec-color;
                }
              }
            }
          }
        }
        .control {
          padding-top: $main-element-padding + $sec-element-padding;
          overflow-x: auto;
          .table {
            min-width: 750px;
            padding-bottom: $sec-element-padding / 2;
            white-space: nowrap;
            width: 100%;
            .tab-head {
              @include table-head("light");
            }
            .tab-body {
              padding-top: 2px;
              .item {
                @include table-body-item("light");
              }
            }
          }
        }
      }
    }
  }
}

body {
  &.dark {
    main {
      background-color: $sec-dark-bg;
      .cont {
        aside {
          background-color: $main-dark-bg;
          ul {
            li {
              a {
                &:hover {
                  color: $main-dark-color;
                  background-color: $nav-active-bg;
                  span,
                  .f-icon {
                    color: $main-dark-color;
                  }
                }
                &.active {
                  color: $main-dark-color;
                  background-color: $nav-active-bg;
                  span,
                  .f-icon {
                    color: $main-dark-color;
                  }
                }
                span,
                .f-icon {
                  color: $white-dark-color;
                }
              }
              &:last-of-type {
                button {
                  span,
                  .f-icon {
                    color: $dark-danger-color;
                  }
                  &:hover {
                    background-color: $dark-danger-color;
                    span,
                    .f-icon {
                      color: $white-dark-color;
                    }
                  }
                }
              }
            }
          }
        }
        .content {
          background-color: $main-dark-bg;
          .sec-body {
            .info {
              > div {
                background-color: $sec-dark-bg;
                h3 {
                  color: $white-dark-color;
                }
                span {
                  color: $main-dark-color;
                }
                a {
                  .f-icon {
                    color: $main-dark-color;
                    &:hover {
                      color: $sec-dark-color;
                    }
                  }
                }
              }
            }
            .control {
              .table {
                .tab-head {
                  @include table-head("dark");
                }
                .tab-body {
                  .item {
                    @include table-body-item("dark");
                    background-color: $sec-dark-bg;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// body {
//   &.dark {
//     main {
//       background-color: $sec-dark-bg;
//       .content {
//         .container {
//           .sec-body {
//             .info {
//               > div {
//                 background-color: $main-dark-bg;
//                 h3 {
//                   color: $white-dark-color;
//                 }
//                 span {
//                   color: $main-dark-color;
//                 }
//                 a {
//                   .f-icon {
//                     color: $main-dark-color;
//                     &:hover {
//                       color: $sec-dark-color;
//                     }
//                   }
//                 }
//               }
//             }
//             .control {
//               .table {
//                 .tab-head {
//                   @include table-head("dark");
//                 }
//                 .tab-body {
//                   .item {
//                     @include table-body-item("dark");
//                   }
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }
