// import global rules
// @use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;
// import header styling:-
// @use "../sections/header" as *;
// import footer styling:-
// @use "../sections/footer" as *;

// @use "../sections/dashboard_global" as *;

// additional page styling

main {
  background-color: $light-white-color;
  .container {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    position: relative;
    padding-bottom: $up-down-padding / 2;
    @media (max-width: 575px) {
      gap: 10px;
    }
    aside {
      @extend %border-radius-5;
      position: sticky;
      top: 90px;
      min-width: 230px;
      height: fit-content;
      overflow-y: auto;
      overflow-x: hidden;
      padding: $main-element-padding;
      background-color: $white-color;
      @media (max-width: 991px) {
        min-width: 200px;
      }
      @media (max-width: 767px) {
        min-width: 60px;
        padding: 15px $sec-element-padding;
        top: 65px;
      }
      @media (max-width: 575px) {
        padding: {
          left: $sec-element-padding / 2;
          right: $sec-element-padding / 2;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        @extend %reset;
        @media (max-width: 767px) {
          align-items: center;
        }
        li {
          @extend %reset;
          padding-top: $sec-element-padding / 2;
          a,
          button {
            display: block;
            width: 100%;
            color: $black-color;
            padding: $sec-element-padding 15px;
            @extend %border-radius-5;
            @media (max-width: 767px) {
              padding: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 45px;
              height: 45px;
              .f-icon {
                font-size: 1.1rem;
              }
            }
            &:hover {
              color: $main-color;
              background-color: $light-input-background;
              span {
                color: $main-color;
              }
              .f-icon {
                color: $main-color;
              }
            }
            &.active {
              color: $main-color;
              background-color: $light-input-background;
              span {
                color: $main-color;
              }
              .f-icon {
                color: $main-color;
              }
            }
            span {
              color: $black-color;
              @media (max-width: 767px) {
                display: none;
              }
            }
            .f-icon {
              @extend %zero-transition;
              margin-right: $sec-element-padding;
              @media (max-width: 767px) {
                margin-right: 0;
              }
            }
          }
          &:last-of-type {
            button {
              outline: none;
              border: none;
              background-color: transparent;
              text-align: inherit;
              span,
              .f-icon {
                color: $light-danger-color;
              }
              &:hover {
                background-color: $light-danger-color;
                span,
                .f-icon {
                  color: $white-color;
                }
              }
            }
          }
        }
      }
    }
    .content {
      flex: 1;
      // padding: 20px;
      background-color: $white-color;
      overflow-y: auto;
      h2 {
        margin-bottom: 40px;
        position: relative;
        color: $main-color;
        text-align: center;
        font: {
          size: 1.6rem;
          weight: 600;
        }
        // &::before,
        // &::after {
        //   content: "";
        //   position: absolute;
        //   left: 0;
        //   height: 3px;
        //   background-color: $sec-color;
        // }
        // &::before {
        //   width: 95px;
        //   bottom: -8px;
        // }
        // &::after {
        //   width: 50px;
        //   bottom: -15px;
        // }
      }
      .sec-body {
        .info {
          @extend %flex-stretch-start;
          max-width: 750px;
          margin: 0 auto;
          gap: $main-element-padding;
          @media (max-width: 575px) {
            flex-direction: column;
            gap: $sec-element-padding;
          }
          > div {
            @extend %border-radius-10;
            width: 50%;
            @media (max-width: 575px) {
              width: 100%;
            }
            padding: $main-element-padding;
            background-color: $light-input-background;
            text-align: center;
            h3 {
              margin-bottom: $sec-element-padding;
              font: {
                size: 1.2rem;
                weight: 600;
              }
            }
            span {
              color: $main-color;
              font: {
                size: 1.4rem;
                weight: 700;
              }
            }
            a {
              .f-icon {
                font-size: 2.6rem;
                color: $main-color;
                cursor: pointer;
                &:hover {
                  color: $sec-color;
                }
              }
            }
          }
        }
        .control {
          padding-top: $main-element-padding + $sec-element-padding;
          overflow-x: auto;
          .table {
            min-width: 750px;
            padding-bottom: $sec-element-padding / 2;
            white-space: nowrap;
            width: 100%;
            .tab-head {
              @include table-head("light");
            }
            .tab-body {
              padding-top: 2px;
              .item {
                @include table-body-item("light");
              }
            }
          }
        }
      }
    }
  }
  .pop-up {
    @extend %flex-center-center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin-top: 40px;
    z-index: -1;
    &.active {
      z-index: 50;
      .overlay {
        width: 100vw;
        height: 100vh;
        display: block;
      }
      .data {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
      }
    }
    .overlay {
      @extend %zero-transition;
      @extend %user-select-none;
      @extend %translate-50;
      background-color: $transparent-color;
      display: none;
      position: fixed;
      width: 0;
      height: 0;
      overflow: hidden;
      top: 50%;
      left: 50%;
      z-index: 100;
    }
    .data {
      &::-webkit-scrollbar {
        width: 0;
      }
      height: calc(100vh - 90px) !important;
      overflow-y: auto;
      margin-bottom: 20px;
      margin-top: 10px;
      @extend %transition;
      @extend %border-radius-5;
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      position: relative;
      background-color: $light-input-background;
      box-shadow: 0 0 14px -5px #717171;
      width: 900px;
      height: fit-content;
      z-index: 200;
      padding: 20px {
        top: 45px !important;
      }
      @media (min-width: 992px) {
        height: fit-content !important;
      }
      @media (max-width: 991px) {
        width: 750px;
      }
      @media (max-width: 767px) {
        margin-bottom: -30px !important;
        height: calc(100vh - 140px) !important;
        width: 550px;
      }
      @media (max-width: 575px) {
        width: 330px;
      }
      .cancel {
        @extend %flex-center-center;
        @extend %border-radius-50;
        border: none;
        outline: none;
        background-color: $error-input-color;
        padding: 5px 8px;
        position: absolute;
        top: 10px;
        right: 10px;
        &:hover {
          background-color: $dark-danger-color;
        }
        .f-icon {
          color: $white-color;
        }
      }
      .felids {
        .box {
          padding-bottom: $main-element-padding / 2;
          .box {
            padding-bottom: 0 !important;
          }
          &:last-of-type {
            padding-bottom: $main-element-padding / 2;
            //   padding: 0;
          }
          label {
            font-size: 1.05rem;
            padding-bottom: $sec-element-padding / 2;
            color: $black-color;
            font-weight: 500;
          }
          .image {
            border: 5px solid $light-white-color;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .field {
            @extend %flex--between;
            @media (min-width: 992px) {
              justify-content: center;
              align-items: center;
            }
            @media (max-width: 991px) {
              flex-direction: column;
            }
            gap: $sec-element-padding;
            color: $main-color;
            font-size: 1.5rem;
            flex-wrap: wrap;
            span {
              @extend %border-radius-5;
              flex: 1;
              font-size: 1rem;
              padding: $sec-element-padding $main-element-padding;
              background-color: $light-white-color;
              color: $black-color;
              display: block;
              text-align: center;
              &.article-body {
                text-align: start;
              }
            }
            .left-sec,
            .right-sec {
              flex: 1;
            }
            .flex-sec {
              width: calc((100% - 20px) / 3);
              @media (max-width: 1199px) {
                width: calc((100% - 10px) / 2);
              }
              @media (max-width: 991px) {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

body {
  &.dark {
    main {
      background-color: $sec-dark-bg;
      .container {
        aside {
          background-color: $main-dark-bg;
          ul {
            li {
              a {
                &:hover {
                  color: $main-dark-color;
                  background-color: $nav-active-bg;
                  span,
                  .f-icon {
                    color: $main-dark-color;
                  }
                }
                &.active {
                  color: $main-dark-color;
                  background-color: $nav-active-bg;
                  span,
                  .f-icon {
                    color: $main-dark-color;
                  }
                }
                span,
                .f-icon {
                  color: $white-dark-color;
                }
              }
              &:last-of-type {
                button {
                  span,
                  .f-icon {
                    color: $dark-danger-color;
                  }
                  &:hover {
                    background-color: $dark-danger-color;
                    span,
                    .f-icon {
                      color: $white-dark-color;
                    }
                  }
                }
              }
            }
          }
        }
        .content {
          background-color: $main-dark-bg;
          .sec-body {
            .info {
              > div {
                background-color: $sec-dark-bg;
                h3 {
                  color: $white-dark-color;
                }
                span {
                  color: $main-dark-color;
                }
                a {
                  .f-icon {
                    color: $main-dark-color;
                    &:hover {
                      color: $sec-dark-color;
                    }
                  }
                }
              }
            }
            .control {
              .table {
                .tab-head {
                  @include table-head("dark");
                }
                .tab-body {
                  .item {
                    @include table-body-item("dark");
                    background-color: $sec-dark-bg;
                  }
                }
              }
            }
          }
        }
      }
      .pop-up {
        .overlay {
          background-color: $dark-transparent-color;
        }
        .data {
          // background-color: $nav-active-bg;
          background-color: $main-dark-bg;
          box-shadow: 0 0 14px -5px #000000;
          .cancel {
            // background-color: $error-input-color;
            background-color: $light-danger-color;
            &:hover {
              background-color: $dark-danger-color;
            }
            .f-icon {
              color: $white-dark-color;
            }
          }
          .felids {
            .box {
              label {
                color: $white-dark-color;
              }
              .image {
                border-color: $sec-dark-bg;
              }
              .field {
                color: sec-dark-color;
                span {
                  color: $sec-text-dark-color;
                  background-color: $sec-dark-bg;
                }
              }
            }
          }
        }
      }
    }
  }
}
