*,
::after,
::before {
  transition-duration: 0.3s;
  transition-delay: 0s;
}

body,
ul,
ul li {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

main .top a,
main .contact .container .sec-body .sec-left .contact-info .box .icon-div i,
header .container nav ul li a,
section .container .sec-foot a,
main .radiation .container .sec-body .text a,
main .contact .container .sec-body .sec-right form input[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .doctors .container .sec-body .box .info .contact,
main .contact .container .sec-body .sec-left .social-icon>div,
footer .container .f-info .f-social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

main .contact .container .sec-body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

main .radiation .container .sec-body {
  display: flex;
  justify-content: space-between;
}

main .doctors .container .sec-body .box .info .contact>div a,
main .contact .container .sec-body .sec-left .social-icon>div>div a,
footer .container .f-info .f-social>div a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

header .container,
header .container nav,
header .container .account {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .doctors .container .sec-body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

main .blog .container .sec-body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

main .medicine .container .sec-body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

main .medicine .container .sec-body .box::before,
main .medicine .container .sec-body .box .info {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

main .doctors .container .sec-body .box,
main .medicine .container .sec-body .box::before,
main .medicine .container .sec-body .box,
main .blog .container .sec-body article,
main .top a,
header .container .account a,
main .doctors .container .sec-body .box .info .contact>div a,
main .contact .container .sec-body .sec-left .social-icon>div>div a,
footer .container .f-info .f-social>div a {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

header .container .nav-icon span {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

main .contact .container .sec-body .sec-left .contact-info .box .icon-div i,
main .contact .container .sec-body .sec-left .social-icon>div>div a {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

main .radiation .container .sec-body .text a,
main .contact .container .sec-body .sec-right form input[type=submit] {
  width: 150px;
  margin: 0 auto;
  outline: none;
  border: 1px solid #eee;
  background-color: #eee;
  padding: 10px 20px;
}

main .radiation .container .sec-body .text a:hover,
main .contact .container .sec-body .sec-right form input[type=submit]:hover {
  background-color: #777;
  color: #fff;
}

main .doctors .container .sec-body .box .info .contact,
main .contact .container .sec-body .sec-left .social-icon>div,
footer .container .f-info .f-social {
  flex-wrap: wrap;
  gap: 10px;
}

main .doctors .container .sec-body .box .info .contact>div a,
main .contact .container .sec-body .sec-left .social-icon>div>div a,
footer .container .f-info .f-social>div a {
  width: 40px;
  height: 40px;
  background-color: #ccc;
}

main .doctors .container .sec-body .box .info .contact>div a:hover,
main .contact .container .sec-body .sec-left .social-icon>div>div a:hover,
footer .container .f-info .f-social>div a:hover {
  background-color: #aaa;
}

main .doctors .container .sec-body .box .info .contact>div a:hover i,
main .contact .container .sec-body .sec-left .social-icon>div>div a:hover i,
footer .container .f-info .f-social>div a:hover i {
  color: #777;
}

main .doctors .container .sec-body .box .info .contact>div a i,
main .contact .container .sec-body .sec-left .social-icon>div>div a i,
footer .container .f-info .f-social>div a i {
  color: #fff;
  font-size: 1.5rem;
}

main .blog .container .sec-body article .text .info span,
footer .container .f-blog article .info span {
  color: #333;
  font-size: 0.9rem;
}

main .blog .container .sec-body article .text .info span.input,
footer .container .f-blog article .info span.input {
  cursor: pointer;
  font-style: italic;
  color: #777;
}

main .blog .container .sec-body article .text .info span.input:hover,
footer .container .f-blog article .info span.input:hover {
  color: #aaa;
}

/* Start Global Rules:- */
* {
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  background-position: center;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

input[type=submit],
input[type=button],
a {
  cursor: pointer;
}

i {
  transition: 0s;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
}

/* Start Media Quires:- */
@media (max-width: 575px) {
  .container {
    padding: 0 10px;
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

/* End Media Quires */
article {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

section .container .sec-head {
  padding-bottom: 60px;
  text-align: center;
}

section .container .sec-head h2 {
  font-size: 1.9rem;
  margin: 0;
  margin-bottom: 20px;
}

section .container .sec-head p {
  max-width: 750px;
  margin: 0 auto;
  font-size: 0.9rem;
  color: #777;
}

section .container .sec-foot {
  padding-top: 60px;
}

section .container .sec-foot a {
  width: 150px;
  padding: 10px 20px;
  margin: 0 auto;
  outline: none;
  border: 1px solid #eee;
  background-color: #eee;
}

section .container .sec-foot a:hover {
  background-color: #777 !important;
  color: #fff;
}

header {
  background-color: #eee;
}

@media (max-width: 991px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

header .container .logo a h1 {
  font-size: 2.5rem;
  font-family: "Yesteryear", cursive;
  margin: 0;
}

header .container .logo a:hover {
  color: #aaa;
}

header .container .nav-icon {
  display: none;
  width: 40px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

header .container .nav-icon span {
  position: absolute;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 5px;
}

header .container .nav-icon span:first-of-type {
  top: 0;
}

header .container .nav-icon span:nth-of-type(2) {
  top: 15px;
}

header .container .nav-icon span:last-of-type {
  top: 30px;
}

header .container .nav-icon:hover span {
  background-color: #aaa;
}

header .container .nav-icon.active:hover span {
  background-color: #aaa;
}

header .container .nav-icon.active span:first-of-type,
header .container .nav-icon.active span:last-of-type {
  top: 15px;
}

header .container .nav-icon.active span:first-of-type {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

header .container .nav-icon.active span:nth-of-type(2) {
  opacity: 0;
}

header .container .nav-icon.active span:nth-of-type(2) {
  opacity: 0;
}

header .container .nav-icon.active span:nth-of-type(2) {
  opacity: 0;
}

header .container .nav-icon.active span:last-of-type {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

@media (max-width: 991px) {
  header .container .nav-icon {
    display: block;
  }
}

header .container nav {
  opacity: 0;
  z-index: -1;
}

@media (min-width: 992px) {
  header .container nav {
    opacity: 1 !important;
    z-index: 1000 !important;
  }
}

header .container nav ul {
  display: flex;
  gap: 15px;
}

header .container nav ul li {
  padding-right: 5px;
  padding-left: 5px;
}

header .container nav ul li:last-of-type,
header .container nav ul li:nth-last-of-type(2) {
  display: none;
}

@media (max-width: 991px) {

  header .container nav ul li:last-of-type,
  header .container nav ul li:nth-last-of-type(2) {
    display: block;
  }
}

header .container nav ul li.active {
  border-bottom: 2px solid #aaa;
}

header .container nav ul li a {
  height: 68px;
}

header .container nav ul li a:hover {
  color: #aaa;
}

@media (max-width: 991px) {
  header .container nav {
    right: 0;
    display: block;
    width: 300px;
    height: calc(100% - 66px);
    background-color: #eee;
    position: absolute;
    top: 66px;
  }
}

@media (max-width: 991px) and (max-width: 575px) {
  header .container nav {
    width: 100%;
    height: 600px;
  }
}

@media (max-width: 991px) {
  header .container nav ul {
    flex-direction: column;
    padding-top: 20px;
  }

  header .container nav ul li {
    padding: 0;
    border-bottom: 1px solid #aaa !important;
  }

  header .container nav ul li a {
    height: 40px;
    justify-content: flex-start;
    padding-left: 10px;
  }

  header .container nav ul li a:hover {
    padding-left: 30px;
  }
}

header .container .account {
  gap: 20px;
}

@media (max-width: 991px) {
  header .container .account {
    display: none;
  }
}

header .container .account a {
  padding: 7px 15px;
  color: white;
  background-color: #aaa;
}

header .container .account a:hover {
  background-color: #585858;
}

header .container .account a:last-of-type {
  background-color: #ccc;
}

header .container .account a:last-of-type:hover {
  background-color: #aaa;
}

footer {
  background-color: rgb(19, 19, 19);
  padding: 60px 0;
}

footer .container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

@media (max-width: 991px) {
  footer .container {
    gap: 40px;
  }
}

footer .container>div h3 {
  font-size: 1.3rem;
  margin: 0;
  color: #eee;
}

footer .container .f-info .f-logo h1 {
  font-family: "Yesteryear", cursive;
  font-size: 2.5rem;
  color: #eee;
  margin: 0;
  margin-left: 4px;
}

footer .container .f-info .f-text p {
  color: #ccc;
  margin: 20px 0;
}

footer .container .f-links ul {
  padding-top: 10px;
}

footer .container .f-links ul li {
  border-bottom: 1px solid #eee;
}

footer .container .f-links ul li a {
  display: block;
  padding: 7px 0;
  color: #eee;
  position: relative;
}

footer .container .f-links ul li a::before {
  content: "\f101";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 10px;
}

footer .container .f-links ul li a:hover {
  color: #aaa;
  padding-left: 20px;
}

footer .container .f-blog {
  color: #eee;
}

footer .container .f-blog article {
  padding: 10px 0;
  border-bottom: 1px solid #aaa;
}

footer .container .f-blog article:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

footer .container .f-blog article a h4 {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #eee;
}

footer .container .f-blog article a h4:hover {
  color: #aaa;
}

footer .container .f-blog article p {
  color: #ccc;
  font-size: 0.85rem;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

footer .container .f-blog article .info span {
  color: #eee;
}

footer .container .f-blog article .info span.input:hover {
  color: #eee;
}

footer .rights p {
  margin-top: 30px;
  margin-bottom: -30px;
  text-align: center;
  color: #aaa;
}

footer .rights p a {
  color: #eee;
  font-size: 1.1rem;
}

footer .rights p a:hover {
  color: #aaa;
}

footer .rights p span {
  font-family: "Yesteryear", cursive;
  font-size: 1.5rem;
  color: #eee;
}

main {
  min-height: 200vh;
}

main .slider div {
  max-height: calc(100vh - 66px);
}

main .doctors {
  padding: 60px 0;
}

main .doctors .container .sec-body .box {
  position: relative;
  overflow: hidden;
}

main .doctors .container .sec-body .box img {
  width: 100%;
}

main .doctors .container .sec-body .box .info {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  background-color: rgba(204, 204, 204, 0.8);
  padding: 10px;
}

main .doctors .container .sec-body .box .info:hover {
  bottom: 0;
}

main .doctors .container .sec-body .box .info p {
  font-size: 0.9rem;
}

main .doctors .container .sec-body .box .info .contact {
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0;
}

main .doctors .container .sec-body .box .info .contact>div a {
  width: 30px;
  height: 30px;
}

main .doctors .container .sec-body .box .info .contact>div a i {
  font-size: 1.1rem;
}

main .medicine {
  padding: 60px 0;
  background-color: #eee;
}

@media (max-width: 575px) {
  main .medicine .container .sec-body {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

main .medicine .container .sec-body .box {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

main .medicine .container .sec-body .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 2;
}

main .medicine .container .sec-body .box .info {
  text-align: center;
  color: #fff;
  display: block;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 60px);
  z-index: -1;
  opacity: 0;
}

main .medicine .container .sec-body .box .info a {
  display: block;
  margin-bottom: 10px;
}

main .medicine .container .sec-body .box .info a:hover i,
main .medicine .container .sec-body .box .info a:hover h4 {
  color: #ed4342;
}

main .medicine .container .sec-body .box .info a i {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #fff;
}

@media (max-width: 575px) {
  main .medicine .container .sec-body .box .info a i {
    font-size: 1.5rem;
  }
}

main .medicine .container .sec-body .box .info a h4 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #fff;
}

@media (max-width: 575px) {
  main .medicine .container .sec-body .box .info a h4 {
    font-size: 1.1rem;
  }
}

main .medicine .container .sec-body .box .info p {
  margin: 0;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 575px) {
  main .medicine .container .sec-body .box .info p {
    font-size: 0.8rem;
  }
}

main .medicine .container .sec-body .box:hover::before {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}

main .medicine .container .sec-body .box:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

main .medicine .container .sec-body .box:hover .info {
  opacity: 1;
  z-index: 3;
}

main .medicine .container .sec-foot a {
  background-color: #fff;
}

main .radiation {
  padding: 60px 0;
}

main .radiation .container .sec-body {
  background-color: #eee;
}

@media (max-width: 991px) {
  main .radiation .container .sec-body {
    flex-direction: column;
  }
}

main .radiation .container .sec-body .text {
  width: 50%;
  padding: 60px 20px;
}

@media (max-width: 991px) {
  main .radiation .container .sec-body .text {
    width: 100%;
  }
}

main .radiation .container .sec-body .text h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

main .radiation .container .sec-body .text p {
  margin-bottom: 40px;
}

main .radiation .container .sec-body .text a {
  margin-left: 0;
  background-color: #fff;
}

main .radiation .container .sec-body .image {
  width: 50%;
  padding: 0;
  background-image: url(../Data/Images/radiation-places-image-1.jpg);
}

@media (max-width: 991px) {
  main .radiation .container .sec-body .image {
    display: none;
  }
}

main .blog {
  padding: 60px 0;
  background-color: #eee;
}

main .blog .container .sec-body article {
  overflow: hidden;
}

main .blog .container .sec-body article .text {
  padding: 10px;
  background-color: #fff;
}

main .blog .container .sec-body article .text a h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

main .blog .container .sec-body article .text p {
  margin-bottom: 10px;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

main .blog .container .sec-foot a {
  background-color: #fff;
}

main .top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
}

main .top a {
  width: 40px;
  height: 40px;
  background-color: #222;
  color: #eee;
  font-size: 1.5rem;
}

main .top a:hover {
  background-color: #fff;
  color: #222;
}

main .contact {
  padding: 60px 0;
}

main .contact .container .sec-body {
  gap: 20px;
}

@media (max-width: 767px) {
  main .contact .container .sec-body {
    flex-direction: column;
    gap: 60px;
  }
}

main .contact .container .sec-body h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

main .contact .container .sec-body .sec-left {
  width: 50%;
}

@media (max-width: 767px) {
  main .contact .container .sec-body .sec-left {
    width: 100%;
  }
}

main .contact .container .sec-body .sec-left .contact-info .box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

main .contact .container .sec-body .sec-left .contact-info .box:last-of-type {
  margin: 0;
}

main .contact .container .sec-body .sec-left .contact-info .box .icon-div i {
  width: 45px;
  height: 45px;
  background-color: #eee;
  font-size: 1.5rem;
}

main .contact .container .sec-body .sec-left .contact-info .box span {
  color: #222;
}

main .contact .container .sec-body .sec-left .social-icon {
  padding-top: 60px;
}

main .contact .container .sec-body .sec-left .social-icon>div>div a {
  width: 45px;
  height: 45px;
}

main .contact .container .sec-body .sec-right {
  width: 50%;
}

@media (max-width: 767px) {
  main .contact .container .sec-body .sec-right {
    width: 100%;
  }
}

main .contact .container .sec-body .sec-right form textarea {
  padding: 10px;
  width: 100%;
  min-height: 250px;
  border: 1px solid #aaa;
  outline: none;
  resize: none;
}

main .contact .container .sec-body .sec-right form input[type=submit] {
  margin-top: 20px;
  margin-right: 0;
}