// import global rules
@use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;

// header styling:-
header {
  background-color: $light-white-color;
  box-shadow: -1px 1px 20px -15px $black-color;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  .container {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);
    gap: $sec-element-padding;
    @media (max-width: 767px) {
      padding-top: 5px;
      grid-template-columns: auto 1fr auto;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "logo . account" "navLinK navLinK navLinK";
    }
    .logo {
      @media (max-width: 767px) {
        grid-area: logo;
      }
      a {
        h1 {
          color: $main-color;
          font-size: 2.5rem;
          font-family: "Yesteryear", cursive;
          margin: 0;
        }
      }
    }
    nav {
      @extend %flex-center-between;
      @media (max-width: 767px) {
        grid-area: navLinK;
        border-top: 1px solid $dark-white-color;
      }
      ul {
        display: flex;
        gap: $sec-element-padding;
        @media (max-width: 991px) {
          margin: 0 auto;
          gap: $main-element-padding;
        }
        @media (max-width: 450px) {
          gap: $sec-element-padding;
        }
        li {
          padding: {
            right: $sec-element-padding;
            left: $sec-element-padding;
          }
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $main-color;
          }
          &.active {
            background-color: $white-color;
            &::after {
              width: 100%;
            }
            a {
              span,
              .f-icon {
                color: $main-color;
              }
            }
          }
          a {
            @extend %flex-center-center;
            height: 68px;
            &:hover {
              span,
              .f-icon {
                color: $main-color;
              }
            }
            @media (max-width: 767px) {
              gap: $main-element-padding;
              height: 50px;
            }
            .f-icon {
              font-size: 1.4rem;
              display: none;
              @media (max-width: 991px) {
                display: initial;
              }
            }
            span {
              @media (max-width: 1199px) {
                font-size: 0.95rem;
              }
              @media (max-width: 991px) {
                display: none;
              }
            }
          }
        }
      }
    }
    .account,
    .log-in-acc {
      @extend %flex-center-center;
      gap: $main-element-padding;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      @media (max-width: 767px) {
        grid-area: account;
      }
    }
    .account {
      a {
        @extend %button-shape;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content !important;
        padding: $sec-element-padding 15px;
        &:last-of-type {
          background-color: $sec-color;
          border-color: $sec-color;
          &:hover {
            background-color: transparent;
            border-color: $sec-color;
            color: $sec-color;
          }
        }
      }
    }
    .log-in-acc {
      gap: $sec-element-padding;
      height: 100%;
      article {
        height: 100%;
        @extend %flex-center-center;
        .h-btn {
          padding: 10px;
        }
      }
      .lang {
        position: relative;
        .h-btn {
          @extend %flex-center-center;
          gap: 5px;
          &:hover {
            cursor: pointer;
          }
          div {
            @include border-rad(50%);
            width: 30px;
            overflow: hidden;
            img {
              max-width: 100%;
            }
          }
          span {
            text-transform: uppercase;
            font-weight: 600;
          }
        }
        .menu {
          @include trans-x(-50%);
          display: none;
          position: absolute;
          padding: 0 {
            top: $sec-element-padding;
            bottom: $sec-element-padding;
          }
          background-color: $light-white-color;
          top: 68px;
          left: 50%;
          ul {
            @extend %flex-center-center;
            flex-direction: column;
            gap: $sec-element-padding;
            li {
              @extend %flex-center-center;
              padding: 5px {
                left: $sec-element-padding;
                right: $sec-element-padding;
              }
              gap: $sec-element-padding;
              &:hover {
                cursor: pointer;
              }
              div {
                @include border-rad(50%);
                width: 25px;
                overflow: hidden;
                img {
                  max-width: 100%;
                }
              }
              span {
                text-transform: uppercase;
                font: {
                  weight: 400;
                  size: 0.9rem;
                }
              }
            }
          }
        }
      }
      .theme {
        .h-btn {
          @extend %flex-center-center;
          &:hover {
            cursor: pointer;
          }
          .f-icon {
            font-size: 1.5rem;
          }
        }
      }
      .acc {
        padding-left: $sec-element-padding;
        .h-btn {
          @include border-rad(50%);
          width: 50px;
          padding: 0;
          overflow: hidden;
          &:hover {
            cursor: pointer;
          }
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
  &.scroll {
    background-color: $transparent-color;
    @media (max-width: 767px) {
      top: -67px;
    }
    .container {
      nav {
        ul {
          li {
            &.active {
              background-color: $light-white-color;
              a {
                color: $main-color;
              }
            }
          }
        }
      }
    }
    &.dark {
      background-color: $dark-transparent-color;
      .container {
        nav {
          ul {
            li {
              &.active {
                background-color: $nav-active-bg;
                a {
                  color: $main-dark-color;
                }
              }
            }
          }
        }
      }
    }
  }
  &.dark {
    background-color: $sec-dark-bg;
    box-shadow: 0px 9px 20px -15px $black-color;
    .container {
      .logo {
        a {
          h1 {
            color: $main-dark-color;
          }
        }
      }
      nav {
        @media (max-width: 767px) {
          border-color: $sec-text-color;
        }
        ul {
          li {
            &::after {
              background-color: $main-dark-color;
            }
            &.active {
              background-color: $nav-active-bg;
              a {
                span,
                .f-icon {
                  color: $main-dark-color;
                }
              }
            }
            a {
              &:hover {
                span,
                .f-icon {
                  color: $main-dark-color;
                }
              }
              .f-icon,
              span {
                color: $white-dark-color;
              }
            }
          }
        }
      }
      .account {
        a {
          @extend %button-shape;
          &:last-of-type {
            background-color: $sec-dark-color;
            border-color: $sec-dark-color;
            &:hover {
              background-color: transparent;
              border-color: $sec-dark-color;
              color: $sec-dark-color;
            }
          }
        }
      }
      .log-in-acc {
        .lang {
          .h-btn {
            span {
              color: $white-dark-color;
            }
          }
          .menu {
            background-color: $sec-dark-bg;
            ul {
              li {
                span {
                  color: $white-dark-color;
                }
              }
            }
          }
        }
        .theme {
          .h-btn {
            .f-icon {
              color: $white-dark-color;
            }
          }
        }
      }
    }
  }
}
