// import global rules
@use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;

// header styling:-
header {
  background-color: $light-white-color;
  box-shadow: -1px 1px 20px -15px $black-color;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 0 !important;
  .container {
    display: grid !important;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);
    gap: $sec-element-padding;
    @media (max-width: 767px) {
      padding-top: 5px;
      grid-template-columns: auto 1fr auto;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "logo . account" "navLinK navLinK navLinK";
    }
    .logo {
      @media (max-width: 767px) {
        grid-area: logo;
      }
      a {
        h1 {
          color: $main-color !important;
          font-size: 2.5rem;
          font-family: "Yesteryear", cursive;
          margin: 0;
        }
      }
    }
    nav {
      @extend %flex-center-between;
      @media (max-width: 767px) {
        grid-area: navLinK;
        border-top: 1px solid $dark-white-color;
      }
      ul {
        display: flex;
        gap: $sec-element-padding;
        @media (max-width: 991px) {
          margin: 0 auto;
          gap: $main-element-padding;
        }
        @media (max-width: 450px) {
          gap: $sec-element-padding;
        }
        li {
          padding: {
            right: $sec-element-padding;
            left: $sec-element-padding;
          }
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $main-color;
          }
          &.active {
            background-color: $white-color;
            &::after {
              width: 100%;
            }
            a {
              span,
              .f-icon {
                color: $main-color;
              }
            }
          }
          a {
            @extend %flex-center-center;
            height: 68px;
            &:hover {
              span,
              .f-icon {
                color: $main-color;
              }
            }
            @media (max-width: 767px) {
              gap: $main-element-padding;
              height: 50px;
            }
            .f-icon {
              font-size: 1.4rem;
              display: none;
              @media (max-width: 991px) {
                display: initial;
              }
            }
            span {
              @media (max-width: 1199px) {
                font-size: 0.95rem;
              }
              @media (max-width: 991px) {
                display: none;
              }
            }
          }
        }
      }
    }
    .account {
      @extend %flex-center-center;
      gap: $sec-element-padding;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      @media (max-width: 767px) {
        grid-area: account;
      }
      a {
        @extend %button-shape;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding: $sec-element-padding 15px;
        &:last-of-type {
          background-color: $sec-color;
          border-color: $sec-color;
          &:hover {
            background-color: transparent;
            border-color: $sec-color;
            color: $sec-color;
          }
        }
      }
    }
  }
  &.navScroll {
    background-color: $transparent-color;
    .container {
      .logo {
        a {
          h1 {
            color: $white-color;
          }
        }
      }
      nav {
        ul {
          li {
            a {
              color: $white-color;
              @media (max-width: 991px) {
                color: $black-color;
              }
            }
            &.active {
              background-color: $light-white-color;
              a {
                color: $main-color;
                @media (max-width: 991px) {
                  color: $white-color;
                }
              }
            }
          }
        }
      }
    }
  }
  &.fixed-top {
    background-color: $transparent-color;
    @media (max-width: 767px) {
      top: -67px;
    }
    nav {
      ul {
        li {
          &.active {
            background-color: $light-white-color;
          }
        }
      }
    }
  }
}
