main .container form .order .order-info .content .grid article, main .container form .order .order-cont .content .box, main .container form .sec-foot input[type=submit], body.dark main .container form .sec-foot input[type=submit] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container form .order .order-info .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .container form .order .order-cont .content .box .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container form .sec-foot input[type=submit], body.dark main .container form .sec-foot input[type=submit] {
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

main {
  min-height: calc(100vh - 544px);
  padding: 0;
  padding-top: 100px;
  padding-bottom: 40px;
}
main .container {
  position: relative;
}
main .container h1 {
  color: #059cb1;
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 20px;
}
main .container form h2 {
  font-size: 1.3rem;
  text-align: center;
  color: #3ab6b6;
}
main .container form h3 {
  font-size: 1.1rem;
  color: #3ab6b6;
}
main .container form .order {
  padding: 20px;
  background-color: #eee;
  position: relative;
  margin-top: 20px;
}
main .container form .order::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #eee;
}
main .container form .order:first-of-type {
  margin-top: 0;
}
main .container form .order:first-of-type::after {
  display: none;
}
main .container form .order .order-info {
  padding-bottom: 20px;
}
main .container form .order .order-info .content {
  gap: 20px;
}
@media (max-width: 575px) {
  main .container form .order .order-info .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
main .container form .order .order-info .content .image {
  height: 100px;
  width: 100px;
}
main .container form .order .order-info .content .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  main .container form .order .order-info .content .image {
    height: 115px;
    width: 115px;
  }
}
main .container form .order .order-info .content .grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  gap: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 575px) {
  main .container form .order .order-info .content .grid {
    width: 100%;
  }
}
main .container form .order .order-info .content .grid article {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
main .container form .order .order-info .content .grid article span:last-of-type {
  font-size: 1.5rem;
  font-weight: 600;
  color: #059cb1;
}
main .container form .order .order-cont .content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
main .container form .order .order-cont .content .box {
  gap: 10px;
  padding: 10px;
  background-color: #fff;
}
main .container form .order .order-cont .content .box .image {
  width: 70px;
  height: 70px;
}
main .container form .order .order-cont .content .box .image img {
  max-width: 100%;
}
main .container form .order .order-cont .content .box .info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 10px;
}
main .container form .order .order-cont .content .box .info span:first-of-type {
  font-weight: 500;
}
main .container form .order .order-cont .content .box .info span:last-of-type {
  font-size: 0.9rem;
  font-weight: 400;
  color: #555;
}
main .container form .sec-foot {
  padding-top: 20px;
}
main .container form .sec-foot input[type=submit] {
  width: 160px;
  margin: 0 auto;
  outline: none;
  color: #fff;
  border: 1px solid #059cb1;
  background-color: #059cb1;
  padding: 10px 20px;
  margin-right: 0 !important;
}
main .container form .sec-foot input[type=submit]:hover {
  color: #059cb1;
  background-color: transparent;
  border-color: #059cb1;
}

body.dark main {
  background-color: #222;
}
body.dark main .container h1 {
  color: rgba(5, 156, 177, 0.8705882353);
}
body.dark main .container form h2,
body.dark main .container form h3 {
  color: rgba(58, 182, 182, 0.8705882353);
}
body.dark main .container form .order {
  background-color: #1d1d1d;
}
body.dark main .container form .order::after {
  background-color: #1d1d1d;
}
body.dark main .container form .order .order-info .content .grid article span {
  color: #efefef;
}
body.dark main .container form .order .order-info .content .grid article span:last-of-type {
  color: rgba(5, 156, 177, 0.8705882353);
}
body.dark main .container form .order .order-cont .content .box {
  background-color: #222;
}
body.dark main .container form .order .order-cont .content .box .info span {
  color: #efefef;
}
body.dark main .container form .order .order-cont .content .box .info span:last-of-type {
  color: #a5a5a5;
}
body.dark main .container form .sec-foot {
  padding-top: 20px;
}
body.dark main .container form .sec-foot input[type=submit] {
  width: 160px;
  margin: 0 auto;
  outline: none;
  color: #efefef;
  border: 1px solid rgba(5, 156, 177, 0.8705882353);
  background-color: rgba(5, 156, 177, 0.8705882353);
  padding: 10px 20px;
}
body.dark main .container form .sec-foot input[type=submit]:hover {
  color: rgba(5, 156, 177, 0.8705882353);
  background-color: transparent;
  border-color: rgba(5, 156, 177, 0.8705882353);
}