main .pop-up .data {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

main .content div .sec-body .control .table .tab-head,
main .content div .sec-body .control .table .tab-body .item,
main .pop-up,
main .pop-up .data .cancel,
main .pop-up .data .felids .box .images,
body.dark main .content div .sec-body .control .table .tab-head,
body.dark main .content div .sec-body .control .table .tab-body .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .content div .sec-body .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

main .pop-up .data .felids .box .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

main .content div .sec-body .control .table .tab-body .item>span:last-of-type a,
body.dark main .content div .sec-body .control .table .tab-body .item>span:last-of-type a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .content div .sec-body .control .table .tab-body .item>span:last-of-type,
body.dark main .content div .sec-body .control .table .tab-body .item>span:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

main .pop-up .overlay {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

main .content div .sec-body .info>div,
main .content div .sec-body .control .table .tab-body .item>span:last-of-type a,
main .pop-up .data,
main .pop-up .data .felids .box .field span,
body.dark main .content div .sec-body .control .table .tab-body .item>span:last-of-type a {
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

main .pop-up .data .cancel {
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
}

main .pop-up .overlay {
  transition: 0s !important;
  -webkit-transition: 0s !important;
  -moz-transition: 0s !important;
  -ms-transition: 0s !important;
  -o-transition: 0s !important;
}

main .pop-up .overlay {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main .content div .sec-head h2 {
  margin-bottom: 40px;
  position: relative;
  color: #059cb1;
  font-size: 1.6rem;
  font-weight: 600;
}

main .content div .sec-head h2::before,
main .content div .sec-head h2::after {
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  background-color: #3ab6b6;
}

main .content div .sec-head h2::before {
  width: 95px;
  bottom: -8px;
}

main .content div .sec-head h2::after {
  width: 50px;
  bottom: -15px;
}

main .content div .sec-body .info {
  max-width: 750px;
  margin: 0 auto;
  gap: 20px;
}

@media (max-width: 575px) {
  main .content div .sec-body .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
  }
}

main .content div .sec-body .info>div {
  width: 50%;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

@media (max-width: 575px) {
  main .content div .sec-body .info>div {
    width: 100%;
  }
}

main .content div .sec-body .info>div h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

main .content div .sec-body .info>div span {
  color: #059cb1;
  font-size: 1.4rem;
  font-weight: 700;
}

main .content div .sec-body .info>div a .f-icon {
  font-size: 2.6rem;
  color: #059cb1;
  cursor: pointer;
}

main .content div .sec-body .info>div a .f-icon:hover {
  color: #3ab6b6;
}

main .content div .sec-body .control {
  padding-top: 30px;
  overflow-x: auto;
}

main .content div .sec-body .control .table {
  min-width: 750px;
  padding-bottom: 5px;
  white-space: nowrap;
  width: 100%;
}

main .content div .sec-body .control .table .tab-head {
  gap: 3px;
}

main .content div .sec-body .control .table .tab-head>span {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 15px;
  background-color: #3ab6b6;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

main .content div .sec-body .control .table .tab-head>span:first-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 60px;
}

main .content div .sec-body .control .table .tab-head>span:nth-of-type(2) {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

main .content div .sec-body .control .table .tab-head>span:nth-last-of-type(2) {
  min-width: 130px !important;
  max-width: 160px !important;
}

main .content div .sec-body .control .table .tab-head>span:last-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 130px;
}

main .content div .sec-body .control .table .tab-body {
  padding-top: 2px;
}

main .content div .sec-body .control .table .tab-body .item {
  padding-top: 2px;
  gap: 3px;
}

main .content div .sec-body .control .table .tab-body .item>span {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 15px;
  background-color: #3ab6b6;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

main .content div .sec-body .control .table .tab-body .item>span:first-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 60px;
}

main .content div .sec-body .control .table .tab-body .item>span:nth-of-type(2) {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

main .content div .sec-body .control .table .tab-body .item>span:nth-last-of-type(2) {
  min-width: 130px !important;
  max-width: 160px !important;
}

main .content div .sec-body .control .table .tab-body .item>span:last-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 130px;
}

main .content div .sec-body .control .table .tab-body .item>span {
  background-color: #eee;
  color: #212529;
  font-size: 1rem !important;
  font-weight: 500 !important;
}

main .content div .sec-body .control .table .tab-body .item>span:last-of-type {
  padding: 7px 10px;
  gap: 10px;
}

main .content div .sec-body .control .table .tab-body .item>span:last-of-type a {
  border: none;
  outline: none;
  color: #fff;
  width: 30px;
  height: 30px;
  background-color: #059cb1;
}

main .content div .sec-body .control .table .tab-body .item>span:last-of-type a:hover {
  background-color: #3ab6b6;
}

main .content div .sec-body .control .table .tab-body .item>span:last-of-type a:last-of-type {
  background-color: #fb0505;
}

main .content div .sec-body .control .table .tab-body .item>span:last-of-type a:last-of-type:hover {
  background-color: #d20519;
}

main .pop-up {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin-top: 40px;
  z-index: -1;
}

main .pop-up.active {
  z-index: 50;
}

main .pop-up.active .overlay {
  width: 100vw;
  height: 100vh;
  display: block;
}

main .pop-up.active .data {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

main .pop-up .overlay {
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  position: fixed;
  width: 0;
  height: 0;
  overflow: hidden;
  top: 50%;
  left: 50%;
  z-index: 100;
}

main .pop-up .data {
  max-height: calc(100vh - 90px) !important;
  overflow-y: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  position: relative;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 0 14px -5px #717171;
  box-shadow: 0 0 14px -5px #717171;
  width: 900px;
  z-index: 200;
  padding: 20px;
  padding-top: 45px !important;
}

main .pop-up .data::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 991px) {
  main .pop-up .data {
    width: 750px;
  }
}

@media (max-width: 767px) {
  main .pop-up .data {
    margin-bottom: -30px !important;
    height: calc(100vh - 140px) !important;
    width: 550px;
  }
}

@media (max-width: 575px) {
  main .pop-up .data {
    width: 330px;
  }
}

main .pop-up .data .cancel {
  border: none;
  outline: none;
  background-color: #fb0505;
  padding: 5px 8px;
  position: absolute;
  top: 10px;
  right: 10px;
}

main .pop-up .data .cancel:hover {
  background-color: #dc3545;
}

main .pop-up .data .cancel .f-icon {
  color: #fff;
}

main .pop-up .data .felids .box {
  padding-bottom: 10px;
}

main .pop-up .data .felids .box .box {
  padding-bottom: 0 !important;
}

main .pop-up .data .felids .box:last-of-type {
  padding-bottom: 10px;
}

main .pop-up .data .felids .box label {
  font-size: 1.05rem;
  padding-bottom: 5px;
  color: #212529;
  font-weight: 500;
}

main .pop-up .data .felids .box .image {
  border: 5px solid #eee;
}

main .pop-up .data .felids .box .image img {
  width: 100%;
  height: 100%;
}

main .pop-up .data .felids .box .images {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
}

main .pop-up .data .felids .box .images>section {
  width: 250px;
  border: 5px solid #eee;
}

main .pop-up .data .felids .box .images>section img {
  width: 100%;
}

main .pop-up .data .felids .box .field {
  gap: 10px;
  color: #059cb1;
  font-size: 1.5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  main .pop-up .data .felids .box .field {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 991px) {
  main .pop-up .data .felids .box .field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

main .pop-up .data .felids .box .field span {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #eee;
  color: #212529;
  display: block;
  text-align: center;
}

main .pop-up .data .felids .box .field span.article-body {
  text-align: start;
}

main .pop-up .data .felids .box .field .left-sec,
main .pop-up .data .felids .box .field .right-sec {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

main .pop-up .data .felids .box .field .flex-sec {
  width: calc((100% - 20px) / 3);
}

@media (max-width: 1199px) {
  main .pop-up .data .felids .box .field .flex-sec {
    width: calc((100% - 10px) / 2);
  }
}

@media (max-width: 991px) {
  main .pop-up .data .felids .box .field .flex-sec {
    width: 100%;
  }
}

body.dark main .content div .sec-head h2 {
  color: rgba(5, 156, 177, 0.8705882353);
}

body.dark main .content div .sec-head h2::before,
body.dark main .content div .sec-head h2::after {
  background-color: rgba(58, 182, 182, 0.8705882353);
}

body.dark main .content div .sec-body .info>div {
  background-color: #222;
}

body.dark main .content div .sec-body .info>div h3 {
  color: #efefef;
}

body.dark main .content div .sec-body .info>div span {
  color: rgba(5, 156, 177, 0.8705882353);
}

body.dark main .content div .sec-body .info>div a .f-icon {
  color: rgba(5, 156, 177, 0.8705882353);
}

body.dark main .content div .sec-body .info>div a .f-icon:hover {
  color: rgba(58, 182, 182, 0.8705882353);
}

body.dark main .content div .sec-body .control .table .tab-head {
  gap: 3px;
}

body.dark main .content div .sec-body .control .table .tab-head>span {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 15px;
  background-color: #3ab6b6;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

body.dark main .content div .sec-body .control .table .tab-head>span:first-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 60px;
}

body.dark main .content div .sec-body .control .table .tab-head>span:nth-of-type(2) {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

body.dark main .content div .sec-body .control .table .tab-head>span:nth-last-of-type(2) {
  min-width: 130px !important;
  max-width: 160px !important;
}

body.dark main .content div .sec-body .control .table .tab-head>span:last-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 130px;
}

body.dark main .content div .sec-body .control .table .tab-head>span {
  background-color: rgba(58, 182, 182, 0.8705882353);
}

body.dark main .content div .sec-body .control .table .tab-body .item {
  padding-top: 2px;
  gap: 3px;
  gap: 3px;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 15px;
  background-color: #3ab6b6;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span:first-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 60px;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span:nth-of-type(2) {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span:nth-last-of-type(2) {
  min-width: 130px !important;
  max-width: 160px !important;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span:last-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 130px;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span {
  background-color: #eee;
  color: #212529;
  font-size: 1rem !important;
  font-weight: 500 !important;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span:last-of-type {
  padding: 7px 10px;
  gap: 10px;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span:last-of-type a {
  border: none;
  outline: none;
  color: #fff;
  width: 30px;
  height: 30px;
  background-color: #059cb1;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span:last-of-type a:hover {
  background-color: #3ab6b6;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span:last-of-type a:last-of-type {
  background-color: #fb0505;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span:last-of-type a:last-of-type:hover {
  background-color: #d20519;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 15px;
  background-color: #3ab6b6;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span:first-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 60px;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span:nth-of-type(2) {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span:nth-last-of-type(2) {
  min-width: 130px !important;
  max-width: 160px !important;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span:last-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 130px;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span {
  background-color: rgba(58, 182, 182, 0.8705882353);
}

body.dark main .content div .sec-body .control .table .tab-body .item>span {
  font-weight: 400 !important;
  background-color: #222;
  color: #a5a5a5;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span:last-of-type a {
  color: #efefef;
  background-color: rgba(5, 156, 177, 0.8705882353);
}

body.dark main .content div .sec-body .control .table .tab-body .item>span:last-of-type a:hover {
  background-color: rgba(58, 182, 182, 0.8705882353);
}

body.dark main .content div .sec-body .control .table .tab-body .item>span:last-of-type a:last-of-type {
  background-color: #d20519;
}

body.dark main .content div .sec-body .control .table .tab-body .item>span:last-of-type a:last-of-type:hover {
  background-color: #dc3545;
}

body.dark main .pop-up .overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

body.dark main .pop-up .data {
  background-color: #222;
  -webkit-box-shadow: 0 0 14px -5px #000000;
  box-shadow: 0 0 14px -5px #000000;
}

body.dark main .pop-up .data .cancel {
  background-color: #d20519;
}

body.dark main .pop-up .data .cancel:hover {
  background-color: #dc3545;
}

body.dark main .pop-up .data .cancel .f-icon {
  color: #efefef;
}

body.dark main .pop-up .data .felids .box label {
  color: #efefef;
}

body.dark main .pop-up .data .felids .box .images>section {
  border-color: #1d1d1d;
}

body.dark main .pop-up .data .felids .box .image {
  border-color: #1d1d1d;
}

body.dark main .pop-up .data .felids .box .field {
  color: sec-dark-color;
}

body.dark main .pop-up .data .felids .box .field span {
  color: #a5a5a5;
  background-color: #1d1d1d;
}