main .content .dashboard > article .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .content .dashboard > article, main .content .dashboard > article .info > div {
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

main .content .dashboard {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 20px;
}
@media (max-width: 1580px) {
  main .content .dashboard {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
  }
}
@media (max-width: 1380px) {
  main .content .dashboard {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
  }
}
@media (max-width: 1199px) {
  main .content .dashboard {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    gap: 20px;
  }
}
@media (max-width: 575px) {
  main .content .dashboard {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
}
main .content .dashboard > article {
  background-color: #f9f9f9;
  padding: 20px;
}
main .content .dashboard > article .head h2 {
  margin-bottom: 40px;
  position: relative;
  color: #059cb1;
  font-size: 1.6rem;
  font-weight: 600;
}
main .content .dashboard > article .head h2::before, main .content .dashboard > article .head h2::after {
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  background-color: #3ab6b6;
}
main .content .dashboard > article .head h2::before {
  width: 95px;
  bottom: -8px;
}
main .content .dashboard > article .head h2::after {
  width: 50px;
  bottom: -15px;
}
main .content .dashboard > article .info {
  margin: 0 auto;
  gap: 10px;
}
@media (max-width: 575px) {
  main .content .dashboard > article .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
main .content .dashboard > article .info > div {
  width: 50%;
  padding: 20px;
  background-color: #fff;
  text-align: center;
}
@media (max-width: 575px) {
  main .content .dashboard > article .info > div {
    width: 100%;
  }
}
main .content .dashboard > article .info > div h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}
main .content .dashboard > article .info > div span {
  color: #059cb1;
  font-size: 1.4rem;
  font-weight: 700;
}
main .content .dashboard > article .info > div a .f-icon {
  font-size: 2.6rem;
  color: #059cb1;
  cursor: pointer;
}
main .content .dashboard > article .info > div a .f-icon:hover {
  color: #3ab6b6;
}

body.dark main .content .dashboard > article {
  background-color: #222;
}
body.dark main .content .dashboard > article .head h2 {
  color: rgba(5, 156, 177, 0.8705882353);
}
body.dark main .content .dashboard > article .head h2::before, body.dark main .content .dashboard > article .head h2::after {
  background-color: rgba(58, 182, 182, 0.8705882353);
}
body.dark main .content .dashboard > article .info > div {
  background-color: #1d1d1d;
}
body.dark main .content .dashboard > article .info > div h3 {
  color: #efefef;
}
body.dark main .content .dashboard > article .info > div span {
  color: rgba(5, 156, 177, 0.8705882353);
}
body.dark main .content .dashboard > article .info > div a .f-icon {
  color: rgba(5, 156, 177, 0.8705882353);
}
body.dark main .content .dashboard > article .info > div a .f-icon:hover {
  color: rgba(58, 182, 182, 0.8705882353);
}