main .content .container .sec-body .box .data .info>div>div>.f-icon,
main .content .container .sec-foot input[type=button],
body.dark main .content .container .sec-body .box .data .info>div>div>.f-icon,
body.dark main .content .container .sec-foot input[type=button] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .content .container .sec-body .box .data .contact,
body.dark main .content .container .sec-body .box .data .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

main .content .container .sec-body .box .data .contact>div a,
body.dark main .content .container .sec-body .box .data .contact>div a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .content .container .sec-body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

main .content .container .sec-body .box .data .contact>div a,
main .content .container .sec-foot input[type=button],
body.dark main .content .container .sec-body .box .data .contact>div a,
body.dark main .content .container .sec-foot input[type=button] {
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

main .content .container .sec-body .box .avatar,
main .content .container .sec-body .box .data .info>div>div>.f-icon,
body.dark main .content .container .sec-body .box .avatar,
body.dark main .content .container .sec-body .box .data .info>div>div>.f-icon {
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
}

main {
  background-color: #eee;
  padding: 100px 0;
  position: relative;
}

main .content .container .sec-body .box {
  position: relative;
  background-color: #fff;
  padding: 20px 20px 30px;
}

main .content .container .sec-body .box .avatar {
  transform: translate(10px, -50px);
  -webkit-transform: translate(10px, -50px);
  -moz-transform: translate(10px, -50px);
  -ms-transform: translate(10px, -50px);
  -o-transform: translate(10px, -50px);
  position: absolute;
  top: 0;
  right: 0;
  width: 130px;
  height: 130px;
  border: 7px solid #eee;
  background-color: #eee;
  overflow: hidden;
}

main .content .container .sec-body .box .avatar img {
  width: 100%;
  height: 130px;
  -o-object-fit: cover;
  object-fit: cover;
}

main .content .container .sec-body .box .data .head h3,
main .content .container .sec-body .box .data .head span {
  width: calc(100% - 130px);
}

main .content .container .sec-body .box .data .head h3 {
  font-size: 1.3rem;
  margin: 0;
}

main .content .container .sec-body .box .data .head span {
  font-size: 0.9rem;
  padding: 10px 0 20px;
  display: block;
}

main .content .container .sec-body .box .data .head p {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #555;
}

main .content .container .sec-body .box .data .info {
  position: relative;
  padding-top: 40px;
}

main .content .container .sec-body .box .data .info::before,
main .content .container .sec-body .box .data .info::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  background-color: #eee;
}

main .content .container .sec-body .box .data .info::before {
  top: 20px;
}

main .content .container .sec-body .box .data .info::after {
  bottom: -20px;
}

main .content .container .sec-body .box .data .info>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

main .content .container .sec-body .box .data .info>div:last-of-type {
  margin: 0;
}

main .content .container .sec-body .box .data .info>div>div>.f-icon {
  width: 45px;
  height: 45px;
  background-color: #59c1bd;
  color: #fff;
  font-size: 1.5rem;
}

main .content .container .sec-body .box .data .info>div>span {
  color: #fff;
}

main .content .container .sec-body .box .data .info .field span {
  color: #555;
}

main .content .container .sec-body .box .data .contact {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-top: 40px;
}

main .content .container .sec-body .box .data .contact>div a {
  width: 40px;
  height: 40px;
  background-color: #59c1bd;
}

main .content .container .sec-body .box .data .contact>div a i {
  font-size: 1.5rem;
}

main .content .container .sec-body .box .data .contact>div a:hover {
  background-color: #eee;
}

main .content .container .sec-body .box .data .contact>div a:hover i {
  color: #059cb1;
}

main .content .container .sec-body .box .data .contact>div a i {
  color: #fff;
}

main .content .container .sec-foot input[type=button] {
  width: 160px;
  margin: 0 auto;
  outline: none;
  color: #fff;
  border: 1px solid #059cb1;
  background-color: #059cb1;
  padding: 10px 20px;
}

main .content .container .sec-foot input[type=button]:hover {
  color: #059cb1;
  background-color: transparent;
  border-color: #059cb1;
}

body.dark main {
  background-color: #222;
}

body.dark main .content .container .sec-body .box {
  position: relative;
  background-color: #fff;
  padding: 20px 20px 30px;
  background-color: #1d1d1d;
}

body.dark main .content .container .sec-body .box .avatar {
  transform: translate(10px, -50px);
  -webkit-transform: translate(10px, -50px);
  -moz-transform: translate(10px, -50px);
  -ms-transform: translate(10px, -50px);
  -o-transform: translate(10px, -50px);
  position: absolute;
  top: 0;
  right: 0;
  width: 130px;
  height: 130px;
  border: 7px solid #eee;
  background-color: #eee;
  overflow: hidden;
}

body.dark main .content .container .sec-body .box .avatar img {
  width: 100%;
  height: 130px;
  -o-object-fit: cover;
  object-fit: cover;
}

body.dark main .content .container .sec-body .box .data .head h3,
body.dark main .content .container .sec-body .box .data .head span {
  width: calc(100% - 130px);
}

body.dark main .content .container .sec-body .box .data .head h3 {
  font-size: 1.3rem;
  margin: 0;
}

body.dark main .content .container .sec-body .box .data .head span {
  font-size: 0.9rem;
  padding: 10px 0 20px;
  display: block;
}

body.dark main .content .container .sec-body .box .data .head p {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #555;
}

body.dark main .content .container .sec-body .box .data .info {
  position: relative;
  padding-top: 40px;
}

body.dark main .content .container .sec-body .box .data .info::before,
body.dark main .content .container .sec-body .box .data .info::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  background-color: #eee;
}

body.dark main .content .container .sec-body .box .data .info::before {
  top: 20px;
}

body.dark main .content .container .sec-body .box .data .info::after {
  bottom: -20px;
}

body.dark main .content .container .sec-body .box .data .info>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

body.dark main .content .container .sec-body .box .data .info>div:last-of-type {
  margin: 0;
}

body.dark main .content .container .sec-body .box .data .info>div>div>.f-icon {
  width: 45px;
  height: 45px;
  background-color: #59c1bd;
  color: #fff;
  font-size: 1.5rem;
}

body.dark main .content .container .sec-body .box .data .info>div>span {
  color: #fff;
}

body.dark main .content .container .sec-body .box .data .info .field span {
  color: #555;
}

body.dark main .content .container .sec-body .box .data .contact {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-top: 40px;
}

body.dark main .content .container .sec-body .box .data .contact>div a {
  width: 40px;
  height: 40px;
  background-color: #59c1bd;
}

body.dark main .content .container .sec-body .box .data .contact>div a i {
  font-size: 1.5rem;
}

body.dark main .content .container .sec-body .box .data .contact>div a:hover {
  background-color: #eee;
}

body.dark main .content .container .sec-body .box .data .contact>div a:hover i {
  color: #059cb1;
}

body.dark main .content .container .sec-body .box .data .contact>div a i {
  color: #fff;
}

body.dark main .content .container .sec-body .box .avatar {
  border-color: #222;
  background-color: #222;
}

body.dark main .content .container .sec-body .box .data .head h3 {
  color: #efefef;
}

body.dark main .content .container .sec-body .box .data .head span {
  color: #efefef;
}

body.dark main .content .container .sec-body .box .data .head p {
  color: #a5a5a5;
}

body.dark main .content .container .sec-body .box .data .info::before,
body.dark main .content .container .sec-body .box .data .info::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  background-color: #555;
}

body.dark main .content .container .sec-body .box .data .info>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

body.dark main .content .container .sec-body .box .data .info>div:last-of-type {
  margin: 0;
}

body.dark main .content .container .sec-body .box .data .info>div>div>.f-icon {
  width: 45px;
  height: 45px;
  background-color: #59c1bd;
  color: #fff;
  font-size: 1.5rem;
}

body.dark main .content .container .sec-body .box .data .info>div>span {
  color: #fff;
}

body.dark main .content .container .sec-body .box .data .info>div>div>.f-icon {
  background-color: rgba(89, 193, 189, 0.8705882353);
  color: #efefef;
}

body.dark main .content .container .sec-body .box .data .info>div>span {
  color: #efefef !important;
}

body.dark main .content .container .sec-body .box .data .contact {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
}

body.dark main .content .container .sec-body .box .data .contact>div a {
  width: 40px;
  height: 40px;
  background-color: rgba(89, 193, 189, 0.8705882353);
}

body.dark main .content .container .sec-body .box .data .contact>div a i {
  font-size: 1.5rem;
}

body.dark main .content .container .sec-body .box .data .contact>div a:hover {
  background-color: #222;
}

body.dark main .content .container .sec-body .box .data .contact>div a:hover i {
  color: rgba(5, 156, 177, 0.8705882353);
}

body.dark main .content .container .sec-body .box .data .contact>div a i {
  color: #efefef;
}

body.dark main .content .container .sec-foot input[type=button] {
  width: 160px;
  margin: 0 auto;
  outline: none;
  color: #efefef;
  border: 1px solid #059cb1;
  background-color: #059cb1;
  padding: 10px 20px;
}

body.dark main .content .container .sec-foot input[type=button]:hover {
  color: #059cb1;
  background-color: transparent;
  border-color: #059cb1;
}