main .cont aside ul,
main .cont aside ul li {
  margin: 0;
  padding: 0;
}

main .cont .content .sec-body .control .table .tab-head,
main .cont .content .sec-body .control .table .tab-body .item,
body.dark main .cont .content .sec-body .control .table .tab-head,
body.dark main .cont .content .sec-body .control .table .tab-body .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .cont .content .sec-body .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type a,
body.dark main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type,
body.dark main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

main .cont aside,
main .cont aside ul li a,
main .cont aside ul li button,
main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type a,
body.dark main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type a {
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

main .cont .content .sec-body .info>div {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

main .cont aside ul li a .f-icon,
main .cont aside ul li button .f-icon {
  transition: 0s !important;
  -webkit-transition: 0s !important;
  -moz-transition: 0s !important;
  -ms-transition: 0s !important;
  -o-transition: 0s !important;
}

main {
  background-color: #eee;
}

main .cont {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  gap: 20px;
  position: relative;
  padding-bottom: 50px;
}

@media (max-width: 575px) {
  main .cont {
    gap: 10px;
  }
}

main .cont aside {
  position: sticky;
  top: 90px;
  min-width: 230px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: #fff;
}

@media (max-width: 991px) {
  main .cont aside {
    min-width: 200px;
  }
}

@media (max-width: 767px) {
  main .cont aside {
    min-width: 60px;
    padding: 15px 10px;
    top: 65px;
  }
}

@media (max-width: 575px) {
  main .cont aside {
    padding-left: 5px;
    padding-right: 5px;
  }
}

main .cont aside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
}

@media (max-width: 767px) {
  main .cont aside ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

main .cont aside ul li {
  padding-top: 5px;
}

main .cont aside ul li a,
main .cont aside ul li button {
  display: block;
  width: 100%;
  color: #212529;
  padding: 10px 15px;
}

@media (max-width: 767px) {

  main .cont aside ul li a,
  main .cont aside ul li button {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 45px;
    height: 45px;
  }

  main .cont aside ul li a .f-icon,
  main .cont aside ul li button .f-icon {
    font-size: 1.1rem;
  }
}

main .cont aside ul li a:hover,
main .cont aside ul li button:hover {
  color: #059cb1;
  background-color: #f9f9f9;
}

main .cont aside ul li a:hover span,
main .cont aside ul li button:hover span {
  color: #059cb1;
}

main .cont aside ul li a:hover .f-icon,
main .cont aside ul li button:hover .f-icon {
  color: #059cb1;
}

main .cont aside ul li a.active,
main .cont aside ul li button.active {
  color: #059cb1;
  background-color: #f9f9f9;
}

main .cont aside ul li a.active span,
main .cont aside ul li button.active span {
  color: #059cb1;
}

main .cont aside ul li a.active .f-icon,
main .cont aside ul li button.active .f-icon {
  color: #059cb1;
}

main .cont aside ul li a span,
main .cont aside ul li button span {
  color: #212529;
}

@media (max-width: 767px) {

  main .cont aside ul li a span,
  main .cont aside ul li button span {
    display: none;
  }
}

main .cont aside ul li a .f-icon,
main .cont aside ul li button .f-icon {
  margin-right: 10px;
}

@media (max-width: 767px) {

  main .cont aside ul li a .f-icon,
  main .cont aside ul li button .f-icon {
    margin-right: 0;
  }
}

main .cont aside ul li:last-of-type button {
  outline: none;
  border: none;
  background-color: transparent;
  text-align: inherit;
}

main .cont aside ul li:last-of-type button span,
main .cont aside ul li:last-of-type button .f-icon {
  color: #d20519;
}

main .cont aside ul li:last-of-type button:hover {
  background-color: #d20519;
}

main .cont aside ul li:last-of-type button:hover span,
main .cont aside ul li:last-of-type button:hover .f-icon {
  color: #fff;
}

main .cont .content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
}

main .cont .content h2 {
  margin-bottom: 40px;
  position: relative;
  color: #059cb1;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}

main .cont .content .sec-body .info {
  max-width: 750px;
  margin: 0 auto;
  gap: 20px;
}

@media (max-width: 575px) {
  main .cont .content .sec-body .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
  }
}

main .cont .content .sec-body .info>div {
  width: 50%;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

@media (max-width: 575px) {
  main .cont .content .sec-body .info>div {
    width: 100%;
  }
}

main .cont .content .sec-body .info>div h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

main .cont .content .sec-body .info>div span {
  color: #059cb1;
  font-size: 1.4rem;
  font-weight: 700;
}

main .cont .content .sec-body .info>div a .f-icon {
  font-size: 2.6rem;
  color: #059cb1;
  cursor: pointer;
}

main .cont .content .sec-body .info>div a .f-icon:hover {
  color: #3ab6b6;
}

main .cont .content .sec-body .control {
  padding-top: 30px;
  overflow-x: auto;
}

main .cont .content .sec-body .control .table {
  min-width: 750px;
  padding-bottom: 5px;
  white-space: nowrap;
  width: 100%;
}

main .cont .content .sec-body .control .table .tab-head {
  gap: 3px;
}

main .cont .content .sec-body .control .table .tab-head>span {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 15px;
  background-color: #3ab6b6;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

main .cont .content .sec-body .control .table .tab-head>span:first-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 60px;
}

main .cont .content .sec-body .control .table .tab-head>span:nth-of-type(2) {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

main .cont .content .sec-body .control .table .tab-head>span:nth-last-of-type(2) {
  min-width: 130px !important;
  max-width: 160px !important;
}

main .cont .content .sec-body .control .table .tab-head>span:last-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 130px;
}

main .cont .content .sec-body .control .table .tab-body {
  padding-top: 2px;
}

main .cont .content .sec-body .control .table .tab-body .item {
  padding-top: 2px;
  gap: 3px;
}

main .cont .content .sec-body .control .table .tab-body .item>span {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 15px;
  background-color: #3ab6b6;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

main .cont .content .sec-body .control .table .tab-body .item>span:first-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 60px;
}

main .cont .content .sec-body .control .table .tab-body .item>span:nth-of-type(2) {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

main .cont .content .sec-body .control .table .tab-body .item>span:nth-last-of-type(2) {
  min-width: 130px !important;
  max-width: 160px !important;
}

main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 130px;
}

main .cont .content .sec-body .control .table .tab-body .item>span {
  background-color: #eee;
  color: #212529;
  font-size: 1rem !important;
  font-weight: 500 !important;
}

main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type {
  padding: 7px 10px;
  gap: 10px;
}

main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type a {
  border: none;
  outline: none;
  color: #fff;
  width: 30px;
  height: 30px;
  background-color: #059cb1;
}

main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type a:hover {
  background-color: #3ab6b6;
}

main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type a:last-of-type {
  background-color: #fb0505;
}

main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type a:last-of-type:hover {
  background-color: #d20519;
}

body.dark main {
  background-color: #1d1d1d;
}

body.dark main .cont aside {
  background-color: #222;
}

body.dark main .cont aside ul li a:hover {
  color: rgba(5, 156, 177, 0.8705882353);
  background-color: #323234;
}

body.dark main .cont aside ul li a:hover span,
body.dark main .cont aside ul li a:hover .f-icon {
  color: rgba(5, 156, 177, 0.8705882353);
}

body.dark main .cont aside ul li a.active {
  color: rgba(5, 156, 177, 0.8705882353);
  background-color: #323234;
}

body.dark main .cont aside ul li a.active span,
body.dark main .cont aside ul li a.active .f-icon {
  color: rgba(5, 156, 177, 0.8705882353);
}

body.dark main .cont aside ul li a span,
body.dark main .cont aside ul li a .f-icon {
  color: #efefef;
}

body.dark main .cont aside ul li:last-of-type button span,
body.dark main .cont aside ul li:last-of-type button .f-icon {
  color: #dc3545;
}

body.dark main .cont aside ul li:last-of-type button:hover {
  background-color: #dc3545;
}

body.dark main .cont aside ul li:last-of-type button:hover span,
body.dark main .cont aside ul li:last-of-type button:hover .f-icon {
  color: #efefef;
}

body.dark main .cont .content {
  background-color: #222;
}

body.dark main .cont .content .sec-body .info>div {
  background-color: #1d1d1d;
}

body.dark main .cont .content .sec-body .info>div h3 {
  color: #efefef;
}

body.dark main .cont .content .sec-body .info>div span {
  color: rgba(5, 156, 177, 0.8705882353);
}

body.dark main .cont .content .sec-body .info>div a .f-icon {
  color: rgba(5, 156, 177, 0.8705882353);
}

body.dark main .cont .content .sec-body .info>div a .f-icon:hover {
  color: rgba(58, 182, 182, 0.8705882353);
}

body.dark main .cont .content .sec-body .control .table .tab-head {
  gap: 3px;
}

body.dark main .cont .content .sec-body .control .table .tab-head>span {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 15px;
  background-color: #3ab6b6;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

body.dark main .cont .content .sec-body .control .table .tab-head>span:first-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 60px;
}

body.dark main .cont .content .sec-body .control .table .tab-head>span:nth-of-type(2) {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

body.dark main .cont .content .sec-body .control .table .tab-head>span:nth-last-of-type(2) {
  min-width: 130px !important;
  max-width: 160px !important;
}

body.dark main .cont .content .sec-body .control .table .tab-head>span:last-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 130px;
}

body.dark main .cont .content .sec-body .control .table .tab-head>span {
  background-color: rgba(58, 182, 182, 0.8705882353);
}

body.dark main .cont .content .sec-body .control .table .tab-body .item {
  padding-top: 2px;
  gap: 3px;
  gap: 3px;
  background-color: #1d1d1d;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 15px;
  background-color: #3ab6b6;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span:first-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 60px;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span:nth-of-type(2) {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span:nth-last-of-type(2) {
  min-width: 130px !important;
  max-width: 160px !important;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 130px;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span {
  background-color: #eee;
  color: #212529;
  font-size: 1rem !important;
  font-weight: 500 !important;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type {
  padding: 7px 10px;
  gap: 10px;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type a {
  border: none;
  outline: none;
  color: #fff;
  width: 30px;
  height: 30px;
  background-color: #059cb1;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type a:hover {
  background-color: #3ab6b6;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type a:last-of-type {
  background-color: #fb0505;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type a:last-of-type:hover {
  background-color: #d20519;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 15px;
  background-color: #3ab6b6;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span:first-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 60px;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span:nth-of-type(2) {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span:nth-last-of-type(2) {
  min-width: 130px !important;
  max-width: 160px !important;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 130px;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span {
  background-color: rgba(58, 182, 182, 0.8705882353);
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span {
  font-weight: 400 !important;
  background-color: #222;
  color: #a5a5a5;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type a {
  color: #efefef;
  background-color: rgba(5, 156, 177, 0.8705882353);
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type a:hover {
  background-color: rgba(58, 182, 182, 0.8705882353);
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type a:last-of-type {
  background-color: #d20519;
}

body.dark main .cont .content .sec-body .control .table .tab-body .item>span:last-of-type a:last-of-type:hover {
  background-color: #dc3545;
}