// import global rules
@use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;
// import header styling:-
@use "../sections/header" as *;
// import footer styling:-
@use "../sections/footer" as *;

// additional page styling
main {
  min-height: 200vh;
  .slider {
    div {
      max-height: calc(100vh - 66px);
    }
  }
  //doctors sec styling
  .doctors {
    margin-top: $margin-50;
    .container {
      .sec-body {
        @extend %flex-center-center;
        flex-wrap: wrap;
        overflow: hidden;
        gap: 20px;
        .box {
          width: 250px;
          position: relative;
          overflow: hidden;

          img {
            width: 100%;
          }
          .info {
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            background-color: rgba(204, 204, 204, 0.8);
            padding: 10px;
            &:hover {
              bottom: 0;
            }
            .contact {
              @extend %flex-center-between;
              a {
                @extend %ni-flex-center-center;
                @extend %border-radius-5;
                width: 40px;
                height: 40px;
                background-color: #ccc;
                &:hover {
                  background-color: #aaa;
                  i {
                    color: #777;
                  }
                }
                i {
                  color: #fff;
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
      }
    }
  }
  //end doctors sec

  //styling for medicine sec
    .medicine{
      margin-top: $margin-50;
      padding: 30px 0;
      background-color: #eee;
      //medicine footer
      .sec-foot{
        input[type= "button"]{
          background-color: #fff;
        }
      }
    }
  //end styling for medicine sec

  //styling for radiation
    .radiation{
      margin-top: $margin-50;
      padding: 10px 50px;
      .sec-head{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
        h2{
          font-size: 1.9rem;
          margin: 0;
          margin-bottom: 20px;
        }
        p{
          max-width: 750px;
          margin: 0 auto;
          font-size: 0.9rem;
          color: #777;  
        }
      }
      .row .image{
        padding: 0 !important;
      }
      .sec-body{
        background-color: #eee;
        .text{
          padding: $main-element-padding;
          h2{
            line-height: 1.2rem;
            margin-bottom: 30px;
          }
          input[type= "button"]{
            background-color: #fff;
            border: none;
            padding: 10px 15px;
            &:hover{
              background-color: #777;
              color: #fff;
            }
          }
        }
      }
    }
  //end radiation styling


  //blog
    .blog{
      margin-top: $margin-50;
      .sec-body{
        margin-top: 20px;
      }
      .card{
        border: none;
        margin-bottom: 50px;
      }
    }
  //end blog styling


  // Start Contact Styling:-
  .contact {
    padding: $up-down-padding 0;
    .container {
      .sec-body {
        @extend %flex-start-between;
        gap: 20px;
        @media (max-width: 767px) {
          flex-direction: column;
          gap: $up-down-padding;
        }
        h2 {
          margin-bottom: 20px;
          font-size: 1.5rem;
          font-weight: 600;
        }
        .sec-left {
          width: 50%;
          @media (max-width: 767px) {
            width: 100%;
          }
          .contact-info {
            .box {
              display: flex;
              align-items: center;
              gap: 10px;
              margin-bottom: 10px;
              &:last-of-type {
                margin: 0;
              }
              .icon-div {
                i {
                  @extend %flex-center-center;
                  @extend %border-radius-50;
                  width: 45px;
                  height: 45px;
                  background-color: #eee;
                  font-size: 1.5rem;
                }
              }
              span {
                color: #222;
              }
            }
          }
          .social-icon {
            padding-top: $up-down-padding;
            > div {
              @extend %social-media;
              > div {
                a {
                  @extend %border-radius-50;
                  width: 45px;
                  height: 45px;
                }
              }
            }
          }
        }
        .sec-right {
          width: 50%;
          @media (max-width: 767px) {
            width: 100%;
          }
          form {
            textarea {
              padding: 10px;
              width: 100%;
              min-height: 250px;
              border: 1px solid #aaa;
              outline: none;
              resize: none;
            }
            input[type="submit"] {
              @extend %button-shape;
              margin-top: 20px;
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  // End contact Styling
}
