// import global rules
@use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;
// import header styling:-
@use "../sections/header" as *;
// import footer styling:-
@use "../sections/footer" as *;

// additional page styling
main {
  .slider {
    div {
      max-height: calc(100vh - 66px);
    }
    // .slid-nav {
    //   button[type="button"] {
    //     @extend %transition;
    //     border-radius: 50% !important;
    //     -webkit-border-radius: 50% !important;
    //     -moz-border-radius: 50% !important;
    //     -ms-border-radius: 50% !important;
    //     -o-border-radius: 50% !important;
    //     width: 10px !important;
    //     height: 10px !important;
    //     &.active {
    //       width: 30px !important;
    //       border-radius: 10px !important;
    //       -webkit-border-radius: 10px !important;
    //       -moz-border-radius: 10px !important;
    //       -ms-border-radius: 10px !important;
    //       -o-border-radius: 10px !important;
    //     }
    //   }
    // }
    .caption {
      @extend %flex-center-center;
      flex-direction: column;
      display: flex !important;
      bottom: initial;
      padding: $up-down-padding;
      background-color: $black-transparent-color;
      width: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      h5 {
        margin-bottom: $main-element-padding;
      }
      p {
        margin-bottom: 0;
      }
      @media (max-width: 767px) {
        h5 {
          font-size: 1.2rem;
        }
        p {
          font-size: 0.85rem;
        }
      }
    }
  }
  // Start Doctors Styling:-
  .doctors {
    padding: $up-down-padding 0;
    .container {
      .sec-body {
        @extend %grid-200-20;
        .box {
          @extend %border-radius-5;
          position: relative;
          overflow: hidden;
          img {
            width: 100%;
          }
          .info {
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            background-color: $transparent-color;
            padding: $sec-element-padding;
            &:hover {
              bottom: 0;
            }
            h5 {
              color: $main-color;
            }
            p {
              font-size: 0.9rem;
            }
            .contact {
              @extend %social-media;
              justify-content: center;
              flex-wrap: nowrap;
              padding: 0;
              > div {
                a {
                  width: 30px;
                  height: 30px;
                  i {
                    font-size: 1.1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // End Doctors Styling
  // Start Medicine Styling:-
  .medicine {
    padding: $up-down-padding 0;
    background-color: $main-background-color;
    .container {
      .sec-body {
        @extend %grid-350-20;
        @media (max-width: 575px) {
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
        .box {
          &::before {
            @extend %border-radius-5;
            @extend %translate-50;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            width: 0;
            height: 0;
            background-color: $black-transparent-color;
            z-index: 2;
          }
          @extend %border-radius-5;
          box-shadow: $main-box-shadow;
          overflow: hidden;
          position: relative;
          z-index: 1;
          .info {
            @extend %translate-50;
            text-align: center;
            color: $white-color;
            display: block;
            padding: $main-element-padding;
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc(100% - 60px);
            z-index: -1;
            opacity: 0;
            a {
              display: block;
              margin-bottom: $sec-element-padding;
              color: $sec-color;
              &:hover {
                i,
                h4 {
                  color: $main-color;
                }
              }
              i {
                margin-bottom: $sec-element-padding;
                font-size: 2rem;
                color: $sec-color;
                @media (max-width: 575px) {
                  font-size: 1.5rem;
                }
              }
              h4 {
                margin-bottom: $sec-element-padding;
                font-size: 1.5rem;
                color: $sec-color;
                @media (max-width: 575px) {
                  font-size: 1.1rem;
                }
              }
            }
            p {
              margin: 0;
              font-size: 0.9rem;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              @media (max-width: 575px) {
                font-size: 0.8rem;
              }
            }
          }
          &:hover {
            &::before {
              width: calc(100% - 40px);
              height: calc(100% - 40px);
            }
            img {
              transform: scale(1.2);
              -webkit-transform: scale(1.2);
              -moz-transform: scale(1.2);
              -ms-transform: scale(1.2);
              -o-transform: scale(1.2);
            }
            .info {
              opacity: 1;
              z-index: 3;
            }
          }
        }
      }
    }
  }
  // End Medicine Styling
  // Start Radiation Styling:-
  .radiation {
    padding: $up-down-padding 0;
    .container {
      .sec-body {
        @extend %flex--between;
        background-color: $main-background-color;
        @media (max-width: 991px) {
          flex-direction: column;
        }
        .text {
          width: 50%;
          padding: $up-down-padding $main-element-padding;
          @media (max-width: 991px) {
            width: 100%;
          }
          h2 {
            margin-bottom: $main-element-padding;
            font-size: 1.5rem;
            font-weight: 600;
          }
          p {
            margin-bottom: 40px;
          }
          a {
            @extend %button-shape;
            margin-left: 0;
          }
        }
        .image {
          width: 50%;
          padding: 0;
          background-image: url(../Data/Images/radiation-places-image-1.jpg);
          @media (max-width: 991px) {
            display: none;
          }
        }
      }
    }
  }
  // End Radiation Styling
  // Start Blog Styling:-
  .blog {
    padding: $up-down-padding 0;
    background-color: $main-background-color;
    .container {
      .sec-body {
        @extend %grid-250-20;
        article {
          @extend %border-radius-5;
          box-shadow: $main-box-shadow;
          overflow: hidden;
          .text {
            padding: $sec-element-padding;
            background-color: $white-color;
            a {
              h3 {
                font: {
                  size: 1.2rem;
                  weight: 600;
                }
              }
            }
            p {
              margin-bottom: $sec-element-padding;
              font-size: 0.9rem;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
            .info {
              @extend %article-info;
            }
          }
        }
      }
    }
  }
  // End Blog Styling
  // Start Contact Styling:-
  .top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    a {
      @extend %flex-center-center;
      @extend %border-radius-5;
      width: 40px;
      height: 40px;
      background-color: $sec-color;
      color: $main-background-color;
      font-size: 1.5rem;
      &:hover {
        background-color: $main-color;
      }
    }
  }
  // End Doctors Styling
  // Start Contact Styling:-
  .contact {
    padding: $up-down-padding 0;
    .container {
      .sec-body {
        @extend %flex-start-between;
        gap: $main-element-padding;
        @media (max-width: 767px) {
          flex-direction: column;
          gap: $up-down-padding;
        }
        h2 {
          margin-bottom: $main-element-padding;
          font-size: 1.5rem;
          font-weight: 600;
        }
        .sec-left {
          width: 50%;
          @media (max-width: 767px) {
            width: 100%;
          }
          .contact-info {
            .box {
              display: flex;
              align-items: center;
              gap: $sec-element-padding;
              margin-bottom: $sec-element-padding;
              &:last-of-type {
                margin: 0;
              }
              .icon-div {
                i {
                  @extend %flex-center-center;
                  @extend %border-radius-50;
                  width: 45px;
                  height: 45px;
                  background-color: $sec-color;
                  color: $white-color;
                  font-size: 1.5rem;
                }
              }
              span {
                color: $black-color;
              }
            }
          }
          .social-icon {
            padding-top: $up-down-padding;
            > div {
              @extend %social-media;
              > div {
                a {
                  @extend %border-radius-50;
                  width: 45px;
                  height: 45px;
                }
              }
            }
          }
        }
        .sec-right {
          width: 50%;
          @media (max-width: 767px) {
            width: 100%;
          }
          form {
            textarea {
              padding: $sec-element-padding;
              width: 100%;
              min-height: 250px;
              border: 1px solid $sec-color;
              outline: none;
              resize: none;
              caret-color: $main-color;
              &:focus {
                border-color: $main-color;
              }
            }
            input[type="submit"] {
              @extend %button-shape;
              margin-top: $main-element-padding;
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  // End contact Styling
}
