// import global rules
@use "../Global-rules/global" as *;
// import placeholders and mixins
@use "../Global-rules/helpers" as *;
// import variables
@use "../Global-rules/variables" as *;

// additional page styling

body {
  min-height: 100vh;
  @extend %flex-center-center;
}
.card {
  @extend %border-radius-10;
  max-width: 950px;
  margin: auto;
  display: flex;
  background-color: #eee;
  overflow: hidden;
  @media (max-width: 767px) {
    max-width: 400px;
  }
  .left {
    width: 50%;
    padding: $main-element-padding;
    @media (max-width: 767px) {
      width: 100%;
    }
    .head {
      text-align: center;
      padding-bottom: $main-element-padding;
      h2,
      p {
        margin: 0 {
          bottom: $sec-element-padding;
        }
      }
      p {
        font-size: 0.9rem;
      }
    }
    form {
      section {
        padding-bottom: $main-element-padding;
        &:last-of-type {
          @extend %flex-center-between;
        }
        label {
          margin-bottom: $sec-element-padding;
        }
        .field {
          @extend %flex-center-center;
          flex-direction: row-reverse;
          border-bottom: 2px solid $black-color;
          position: relative;
          &::after {
            @extend %error-sign;
          }
          input[type="text"] {
            flex: 1;
            padding: $field-top-padding $sec-element-padding;
            border: none;
            outline: none;
            background-color: transparent;
          }
        }
        .left-sec {
          display: flex;
          align-items: center;
          gap: $field-top-padding;
          input {
            @include check-box-shape($black-color);
          }
          label {
            margin: 0;
            font-size: 1rem;
            cursor: pointer;
          }
        }
        .right-sec {
          a {
            font-size: 0.9rem;
            &:hover {
              color: #777;
            }
          }
        }
      }
      input[type="submit"] {
        @extend %border-radius-10;
        display: block;
        min-width: 150px;
        margin: auto;
        padding: $sec-element-padding $main-element-padding;
        border: none;
        outline: none;
        background-color: #aaa;
        color: $white-color;
        &:hover {
          background-color: #777;
        }
      }
    }
    .reg-link {
      @extend %flex-center-center;
      padding-top: $main-element-padding;
      padding-bottom: $main-element-padding;
      a {
        font-size: 0.9rem;
        &:hover {
          color: #777;
        }
      }
    }
    hr {
      margin-top: 0;
    }
    .social-log {
      @extend %flex-center-center;
      flex-direction: column;
      h3 {
        margin: 0 {
          bottom: $main-element-padding;
        }
      }
      .links {
        @extend %flex-center-center;
        gap: 20px;
        a {
          @extend %flex-center-center;
          width: 40px;
          height: 40px;
          background-color: #ccc;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          &:hover {
            background-color: #777;
          }
          i {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .right {
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #777;
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    @extend %flex-center-center;
    width: 50%;
    background-image: url(../Data/Images/IMG_20221204_221527_467.jpg);
    position: relative;
    @media (max-width: 767px) {
      display: none;
    }
    .text {
      text-align: center;
      color: $white-color;
      z-index: 2;
      h1,
      h2 {
        margin: 0 {
          bottom: $sec-element-padding;
        }
      }
      h2 {
        font-family: "Yesteryear", cursive;
        font-size: 3.5rem;
      }
      p {
        margin: 0;
      }
    }
  }
}
