@use "./variables" as *;
@use "./helpers" as *;

/* Start Global Rules:- */

* {
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  background-position: center;
  background-size: cover;
  @extend %transition;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  @extend %reset;
}

::after,
::before {
  @extend %transition;
}

img {
  max-width: 100%;
}

a {
  @extend %link;
}

ul {
  list-style: none;
  @extend %reset;
  li {
    @extend %reset;
  }
}

input[type="submit"],
input[type="reset"],
input[type="button"],
a {
  cursor: pointer;
}

i {
  transition: 0s;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
}

input {
  caret-color: $main-color;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
}

/* Start Media Quires:- */

@media (max-width: 575px) {
  .container {
    padding: 0 10px;
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

/* End Media Quires */

section {
  .container {
    .sec-head {
      padding-bottom: $up-down-padding;
      text-align: center;
      h2 {
        font-size: 1.9rem;
        margin: 0 {
          bottom: $main-element-padding;
        }
      }
      p {
        max-width: 750px;
        margin: 0 auto;
        font-size: 0.9rem;
        color: $sec-text-color;
      }
    }
    .sec-foot {
      padding-top: $up-down-padding;
      a {
        @extend %button-shape;
      }
    }
  }
}
