// spacing(padding, margin):-
$main-element-padding: 20px;
$sec-element-padding: 10px;
$field-top-padding: 7px;
$up-down-padding: 60px;
// Light Mode colors :-
$black-color: #000;
$white-color: #fff;
$sec-text-color: #777;
