@use "./variables" as *;
@use "./helpers" as *;

/* Start Global Rules:- */

* {
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  background-position: center;
  background-size: cover;
  @extend %transition;
}

.mail {
  text-transform: lowercase;
}

html {
  scrollbar-color: $main-color $white-color;
  scroll-behavior: smooth;
}

body {
  @extend %reset;
}

::after,
::before {
  @extend %transition;
}

img {
  max-width: 100%;
}

a {
  @extend %link;
  &:hover {
    color: $main-color;
  }
}

i {
  @extend %zero-transition;
}

ul {
  list-style: none;
  @extend %reset;
  li {
    @extend %reset;
  }
}

input[type="submit"],
input[type="reset"],
input[type="button"],
a {
  cursor: pointer;
}

input {
  caret-color: $main-color;
}

.dark {
  input {
    caret-color: $main-dark-color;
  }
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
}

/* Start Media Quires:- */

@media (max-width: 575px) {
  .container {
    padding: 0 10px;
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

/* End Media Quires */

/* Start Animation Styling:- */

@-webkit-keyframes up-down-btn {
  from {
    margin-top: 15px;
  }
  to {
    margin-bottom: 15px;
  }
}

@keyframes up-down-btn {
  from {
    margin-top: 15px;
  }
  to {
    margin-bottom: 15px;
  }
}

@-webkit-keyframes left-right-btn {
  from {
    margin-left: 10px;
  }
  to {
    margin-right: 10px;
  }
}

@keyframes left-right-btn {
  from {
    margin-left: 10px;
  }
  to {
    margin-right: 10px;
  }
}

/* End Animation Styling */

/* Start Selection Styling:- */

::-moz-selection {
  background: $black-color;
  color: $main-color;
}

::selection {
  background: $black-color;
  color: $main-color;
}

.dark {
  ::-moz-selection {
    background: $black-color;
    color: $main-dark-color;
  }
  ::selection {
    background: $black-color;
    color: $main-dark-color;
  }
}

/* End Selection Styling */

/* Start Scroll Bar Styling:- */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: $white-color;
}

::-webkit-scrollbar-thumb {
  background-color: $main-color;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $sec-color;
}

.dark {
  ::-webkit-scrollbar-thumb {
    background-color: $main-dark-color;
  }
  ::-webkit-scrollbar-track {
    background-color: $nav-active-bg;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: $sec-dark-color;
  }
}

/* End Scroll Bar Styling */

/* Start Head-Shape Styling:- */

.head-shape,
.head-shape-w {
  max-width: 600px;
  margin: auto;
  position: relative;
  span {
    @extend %border-radius-50;
    display: block;
    margin: auto;
    height: 14px;
    width: 14px;
    background-color: transparent;
    border: 2px solid $sec-color;
    &::after,
    &::before {
      @extend %translate-y-50;
      content: "";
      height: 2px;
      width: calc(50% - 15px);
      background-color: $sec-color;
      position: absolute;
      top: 50%;
    }
    &::before {
      left: 5px;
    }
    &::after {
      right: 5px;
    }
  }
}
.head-shape-w {
  span {
    border-color: $white-color;
    &::after,
    &::before {
      background-color: $white-color;
    }
  }
}

.dark {
  .head-shape,
  .head-shape-w {
    span {
      border-color: $sec-dark-color;
      &::after,
      &::before {
        background-color: $sec-dark-color;
      }
    }
  }
  .head-shape-w {
    span {
      border-color: $white-dark-color;
      &::after,
      &::before {
        background-color: $white-dark-color;
      }
    }
  }
}

/* End Head-Shape Styling */

/* Start Section Header And Footer Styling:- */

section {
  .container {
    .sec-head {
      @include sec-head("light");
    }
    .sec-foot {
      padding-top: $up-down-padding;
      a {
        @include button-shape($main-color, "light");
      }
    }
  }
}

.dark {
  // Dark Mode Head-Shape
  section {
    .container {
      .sec-head {
        @include sec-head("dark");
      }
      .sec-foot {
        a {
          @include button-shape($main-color, "dark");
        }
      }
    }
  }
}
/* End Section Header And Footer Styling:- */

/* Start Top Button Styling:- */
main {
  .top {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100000;
    a {
      @extend %flex-center-center;
      width: 40px;
      height: 40px;
      background-color: $main-color;
      border: 2px solid $main-color;
      font-size: 1.5rem;
      i {
        color: $white-color;
      }
      &:hover {
        background-color: $white-color;
        border-color: $main-color;
        i {
          color: $main-color;
        }
      }
    }
  }
}

.dark {
  // dark mode on top button
  main {
    .top {
      a {
        background-color: $main-dark-color;
        border-color: $main-dark-color;
        i {
          color: $white-dark-color;
        }
        &:hover {
          background-color: $sec-dark-bg;
          border-color: $main-dark-color;
          i {
            color: $main-dark-color;
          }
        }
      }
    }
  }
}

/* End Top Button Styling */
