@use "./variables" as *;

// mixins:-
// @mixin check-box-shape($color, $theme) {
//   cursor: pointer;
//   position: relative;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   width: 15px;
//   height: 15px;
//   margin: 0px;
//   &::before,
//   &::after {
//     position: absolute;
//   }
//   &::before {
//     content: "";
//     width: 100%;
//     height: 100%;
//     border-radius: 2px;
//     background-color: transparent;
//     border: 1.5px solid $sec-color;
//   }
//   &:hover::before {
//     border-color: $color;
//   }
//   &::after {
//     content: "";
//     left: 50%;
//     top: 50%;
//     width: 0;
//     height: 0;
//     border-radius: 2px;
//     background-color: $color;
//     transform: translate(-50%, -50%) rotate(3turn);
//     -webkit-transform: translate(-50%, -50%) rotate(3turn);
//     -moz-transform: translate(-50%, -50%) rotate(3turn);
//     -ms-transform: translate(-50%, -50%) rotate(3turn);
//     -o-transform: translate(-50%, -50%) rotate(3turn);
//   }
//   &:checked::after {
//     content: "\f00c";
//     font-family: "Font Awesome 6 Free";
//     font-weight: 900;
//     color: $white-color;
//     left: calc(50% + 1px);
//     top: calc(50% + 1px);
//     font-size: 1rem;
//     border: 2px solid $color;
//     width: 100%;
//     height: 101%;
//     transform: translate(-50%, -50%) rotate(0);
//     -webkit-transform: translate(-50%, -50%) rotate(0);
//     -moz-transform: translate(-50%, -50%) rotate(0);
//     -ms-transform: translate(-50%, -50%) rotate(0);
//     -o-transform: translate(-50%, -50%) rotate(0);
//     @extend %flex-center-center;
//   }
//   @if ($theme == "dark") {
//     &::before {
//       border-color: $sec-dark-color;
//     }
//     &:checked::after {
//       color: $white-dark-color;
//     }
//   }
// }

@mixin check-box-shape($color, $theme) {
  cursor: pointer;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  margin: 0px;
  &::before,
  &::after {
    position: absolute;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: transparent;
    border: 1.5px solid $sec-color;
  }
  &:hover::before {
    border-color: $color;
  }
  &::after {
    content: "";
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    border-radius: 2px;
    background-color: $color;
    transform: translate(-50%, -50%) rotate(3turn);
    -webkit-transform: translate(-50%, -50%) rotate(3turn);
    -moz-transform: translate(-50%, -50%) rotate(3turn);
    -ms-transform: translate(-50%, -50%) rotate(3turn);
    -o-transform: translate(-50%, -50%) rotate(3turn);
  }
  &:checked::after {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: $white-color;
    left: 50%;
    top: 50%;
    // padding: 5px;
    font-size: 0.85rem;
    border: 2px solid $color;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) rotate(0);
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    @extend %flex-center-center;
  }
  @if ($theme == "dark") {
    &::before {
      border-color: $sec-dark-color;
    }
    &:checked::after {
      color: $white-dark-color;
    }
  }
}

@mixin radio-shape($color, $theme) {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  &::before,
  &::after {
    content: "";
    position: absolute;
    @extend %translate-50;
    @extend %border-radius-50;
  }
  &::before {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1.5px solid $sec-color;
  }
  &:hover::before {
    border-color: $color;
  }
  &::after {
    width: 0;
    height: 0;
  }
  &:checked {
    &::before {
      border-color: $color;
    }
    &:after {
      width: 12px;
      height: 12px;
      background-color: $color;
    }
  }
  @if ($theme == "dark") {
    &::before {
      border-color: $sec-dark-color;
    }
  }
}

@mixin blog-article-box($theme) {
  box-shadow: $main-box-shadow;
  overflow: hidden;
  &:hover {
    @include trans-y(-10px);
  }
  .text {
    padding: $sec-element-padding;
    background-color: $white-color;
    a {
      h3 {
        font: {
          size: 1.2rem;
          weight: 600;
        }
      }
      &:hover {
        cursor: pointer;
        h3 {
          color: $main-color;
        }
      }
    }
    p {
      @include max-lines(2);
      margin-bottom: $sec-element-padding;
      font-size: 0.9rem;
    }
    .info {
      span {
        color: $sec-text-color;
        font-size: 0.9rem;
      }
    }
  }
  @if ($theme == "dark") {
    box-shadow: $main-box-shadow;
    .text {
      background-color: $main-dark-bg;
      a {
        h3 {
          color: $white-dark-color;
        }
        &:hover {
          h3 {
            color: $main-dark-color;
          }
        }
      }
      p {
        color: $sec-text-dark-color;
      }
    }
  }
}

@mixin back-btn($top, $left, $theme) {
  position: absolute;
  top: $top;
  left: $left;
  padding: $field-top-padding $sec-element-padding;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    .f-icon {
      color: $main-color;
    }
  }
  .f-icon {
    font-size: 1rem;
  }
  @if ($theme == "dark") {
    color: $white-dark-color;
    &:hover {
      .f-icon {
        color: $main-dark-color;
      }
    }
  }
}

@mixin contact-info($theme) {
  > div {
    display: flex;
    align-items: center;
    gap: $sec-element-padding;
    margin-bottom: $sec-element-padding;
    &:last-of-type {
      margin: 0;
    }
    > div {
      > .f-icon {
        @extend %flex-center-center;
        @extend %border-radius-50;
        width: 45px;
        height: 45px;
        background-color: $sec-color;
        color: $white-color;
        font-size: 1.5rem;
      }
    }
    > span {
      color: $white-color;
    }
  }
  @if ($theme == "dark") {
    > div {
      > div {
        > .f-icon {
          background-color: $sec-dark-color;
          color: $white-dark-color;
        }
      }
      > span {
        color: $white-dark-color !important;
      }
    }
  }
}

@mixin hospital-pharmacy-card($theme) {
  position: relative;
  background-color: $white-color;
  padding: 20px 20px 30px;
  .avatar {
    @extend %border-radius-50;
    @include trans(10px, -50px);
    position: absolute;
    top: 0;
    right: 0;
    width: 130px;
    height: 130px;
    border: 7px solid $light-white-color;
    background-color: $light-white-color;
    overflow: hidden;
    img {
      width: 100%;
      height: 130px;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  .data {
    .head {
      h3,
      span {
        width: calc(100% - 130px);
      }
      h3 {
        font-size: 1.3rem;
        margin: 0;
      }
      span {
        font-size: 0.9rem;
        padding: 10px 0 20px;
        display: block;
      }
      p {
        margin: 0;
        @include max-lines(3);
        color: $sec-text-color;
      }
    }
    .info {
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        background-color: $light-white-color;
      }
      &::before {
        top: 20px;
      }
      &::after {
        bottom: -20px;
      }
      @include contact-info("light");
      position: relative;
      padding-top: 40px;
      .field {
        span {
          color: $sec-text-color;
        }
      }
    }
    .contact {
      @include social-media-links("light");
      flex-wrap: nowrap;
      padding-top: 40px;
    }
  }
  @if ($theme == "dark") {
    background-color: $sec-dark-bg;
    .avatar {
      border-color: $main-dark-bg;
      background-color: $main-dark-bg;
    }
    .data {
      .head {
        h3 {
          color: $white-dark-color;
        }
        span {
          color: $white-dark-color;
        }
        p {
          color: $sec-text-dark-color;
        }
      }
      .info {
        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          left: 0;
          background-color: $sec-text-color;
        }
        @include contact-info("dark");
      }
      .contact {
        @include social-media-links("dark");
      }
    }
  }
}

@mixin sec-head($theme) {
  padding-bottom: $up-down-padding;
  text-align: center;
  h2 {
    font-size: 1.8rem;
    color: $main-color;
    text-transform: uppercase;
    margin: 0 {
      bottom: $sec-element-padding;
    }
  }
  p {
    max-width: 750px;
    font-size: 0.9rem;
    color: $sec-text-color;
    margin: 0 auto {
      bottom: $main-element-padding;
    }
  }
  @if ($theme == "dark") {
    h2 {
      color: $main-dark-color;
    }
    p {
      color: $sec-text-dark-color;
    }
  }
}

@mixin table-head($theme) {
  @extend %flex-center-center;
  gap: 3px;
  > span {
    display: block;
    flex: 1;
    padding: 10px 15px;
    background-color: $sec-color;
    color: $white-color;
    font: {
      size: 1.1rem;
      weight: 600;
    }
    &:first-of-type {
      flex: 0;
      min-width: 60px;
    }
    &:nth-of-type(2) {
      flex: 2;
    }
    &:last-of-type {
      flex: 0;
      min-width: 90px;
    }
  }
  @if ($theme == "dark") {
    > span {
      background-color: $sec-dark-color;
    }
  }
}

@mixin table-body-item($theme) {
  padding-top: 2px;
  @include table-head("light");
  > span {
    background-color: $light-white-color;
    color: $black-color;
    font: {
      size: 1rem !important;
      weight: 500 !important;
    }
    a {
      display: inline-block;
      padding: 4px 10px;
      text-align: center;
      border: 1px solid $main-color;
      background-color: $main-color;
      color: $white-color;
      @media (max-width: 1199px) {
        display: block;
      }
      &:hover {
        background-color: transparent;
        color: $main-color;
      }
    }
    &:nth-last-of-type(2) {
      padding: 5px 15px;
    }
    &:last-of-type {
      @extend %flex-center-between;
      padding: 7px 10px;
      button {
        @extend %border-radius-5;
        @extend %ni-flex-center-center;
        border: none;
        outline: none;
        color: $white-color;
        width: 30px;
        height: 30px;
        &:first-of-type {
          background-color: $main-color;
          &:hover {
            background-color: $sec-color;
          }
        }
        &:last-of-type {
          background-color: $error-input-color;
          &:hover {
            background-color: $light-danger-color;
          }
        }
      }
    }
  }
  @if ($theme == "dark") {
    @include table-head("dark");
    > span {
      font-weight: 400 !important;
      background-color: $main-dark-bg;
      color: $sec-text-dark-color;
      a {
        border-color: $main-dark-color;
        background-color: $main-dark-color;
        color: $white-dark-color;
        &:hover {
          background-color: transparent;
          color: $main-dark-color;
        }
      }
      &:last-of-type {
        button {
          color: $white-dark-color;
          &:first-of-type {
            background-color: $main-dark-color;
            &:hover {
              background-color: $sec-dark-color;
            }
          }
          &:last-of-type {
            background-color: $light-danger-color;
            &:hover {
              background-color: $dark-danger-color;
            }
          }
        }
      }
    }
  }
}

@mixin max-lines($num) {
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin trans-y($per) {
  transform: translateY($per);
  -webkit-transform: translateY($per);
  -moz-transform: translateY($per);
  -ms-transform: translateY($per);
  -o-transform: translateY($per);
}

@mixin trans-x($per) {
  transform: translateX($per);
  -webkit-transform: translateX($per);
  -moz-transform: translateX($per);
  -ms-transform: translateX($per);
  -o-transform: translateX($per);
}

@mixin trans($x-axis, $y-axis) {
  transform: translate($x-axis, $y-axis);
  -webkit-transform: translate($x-axis, $y-axis);
  -moz-transform: translate($x-axis, $y-axis);
  -ms-transform: translate($x-axis, $y-axis);
  -o-transform: translate($x-axis, $y-axis);
}

@mixin scale($num) {
  transform: scale($num);
  -webkit-transform: scale($num);
  -moz-transform: scale($num);
  -ms-transform: scale($num);
  -o-transform: scale($num);
}

@mixin grid($width, $gap) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
  gap: $gap;
}

@mixin border-rad($num) {
  border-radius: $num !important;
  -webkit-border-radius: $num !important;
  -moz-border-radius: $num !important;
  -ms-border-radius: $num !important;
  -o-border-radius: $num !important;
}

@mixin button-shape($color, $theme) {
  @extend %flex-center-center;
  width: 160px;
  margin: 0 auto;
  outline: none;
  @if ($theme == "dark") {
    color: $white-dark-color;
  } @else {
    color: $white-color;
  }
  border: 1px solid $color;
  background-color: $color;
  padding: $sec-element-padding $main-element-padding;
  &:hover {
    color: $color;
    background-color: transparent;
    border-color: $color;
  }
}

@mixin social-media-links($theme) {
  @extend %flex-center-start;
  flex-wrap: wrap;
  gap: $sec-element-padding;
  > div {
    a {
      @extend %ni-flex-center-center;
      @extend %border-radius-5;
      width: 40px;
      height: 40px;
      i {
        font-size: 1.5rem;
      }
      @if ($theme == "dark") {
        background-color: $sec-dark-color;
        &:hover {
          background-color: $main-dark-bg;
          i {
            color: $main-dark-color;
          }
        }
        i {
          color: $white-dark-color;
        }
      } @else {
        background-color: $sec-color;
        &:hover {
          background-color: $light-white-color;
          i {
            color: $main-color;
          }
        }
        i {
          color: $white-color;
        }
      }
    }
  }
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-ms-input-placeholder {
    color: $color;
  }
  &::placeholder {
    color: $color;
  }
}

// placeholders:-

%transition {
  transition-duration: 0.3s;
  transition-delay: 0s;
}

%reset {
  margin: 0;
  padding: 0;
}

%link {
  color: $black-color;
  text-decoration: none;
  cursor: pointer;
}

%flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-stretch-center {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

%flex-stretch-start {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

%flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

%flex-center- {
  display: flex;
  align-items: center;
}

%flex-start-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

%flex-start-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

%flex--between {
  display: flex;
  justify-content: space-between;
}

%ni-flex-center-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

%flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%grid-200-20 {
  @include grid(200px, 20px);
}

%grid-250-20 {
  @include grid(250px, 20px);
}

%grid-300-20 {
  @include grid(300px, 20px);
}

%grid-350-20 {
  @include grid(350px, 20px);
}

%translate-50 {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

%translate-y-50 {
  @include trans-y(-50%);
}

%border-radius-5 {
  @include border-rad(5px);
}

%border-radius-10 {
  @include border-rad(10px);
}

%border-radius-50 {
  @include border-rad(50%);
}

%zero-transition {
  transition: 0s !important;
  -webkit-transition: 0s !important;
  -moz-transition: 0s !important;
  -ms-transition: 0s !important;
  -o-transition: 0s !important;
}

%zero-transform {
  transform: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
}

%user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Styles:-

%error-sign {
  @extend %translate-y-50;
  // content: "\f058";
  // color: #1ad922;
  // content: "\f057";
  // color: #fb0505;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
  top: 50%;
}
