main aside .links ul,
main aside .links ul li {
  margin: 0;
  padding: 0;
}

main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

main aside .head .shape span::before,
main aside .head .shape span::after {
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

main aside .links ul li a {
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

main aside,
main .content {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

main aside .head .shape span {
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
}

main {
  padding: 100px 20px 40px;
  height: 100vh;
  gap: 20px;
}

@media (max-width: 767px) {
  main {
    padding: 150px 10px 30px;
    gap: 15px;
  }
}

main aside {
  width: 230px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 1px #ececec;
  box-shadow: 0 0 5px 1px #ececec;
  position: relative;
}

@media (max-width: 991px) {
  main aside {
    width: 200px;
  }
}

@media (max-width: 767px) {
  main aside {
    width: 60px;
    padding: 15px 10px;
  }
}

@media (max-width: 575px) {
  main aside {
    padding-left: 5px;
    padding-right: 5px;
  }
}

main aside .head {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  main aside .head {
    display: none;
  }
}

main aside .head a {
  display: block;
  color: #059cb1 !important;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  font-size: 1.2rem;
}

main aside .head a:hover {
  color: #3ab6b6 !important;
}

main aside .head .shape {
  margin-top: 10px;
  position: relative;
}

main aside .head .shape span {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #059cb1;
  margin: 0 auto;
}

main aside .head .shape span::before,
main aside .head .shape span::after {
  content: "";
  position: absolute;
  height: 2px;
  top: 50%;
  width: calc(50% - 10px);
  background-color: #059cb1;
}

main aside .head .shape span::before {
  left: 0;
}

main aside .head .shape span::after {
  right: 0;
}

@media (max-width: 767px) {
  main aside .head .shape {
    display: none;
  }
}

main aside .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
}

@media (max-width: 767px) {
  main aside .links ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

main aside .links ul li {
  padding-top: 5px;
}

main aside .links ul li a {
  display: block;
  width: 100%;
  color: #212529;
  padding: 10px 15px;
}

main aside .links ul li a:hover {
  color: #059cb1;
  background-color: #f9f9f9;
}

main aside .links ul li a:hover span {
  color: #059cb1;
}

main aside .links ul li a:hover .f-icon {
  color: #059cb1;
}

main aside .links ul li a.active {
  color: #059cb1;
  background-color: #f9f9f9;
}

main aside .links ul li a.active span {
  color: #059cb1;
}

main aside .links ul li a.active .f-icon {
  color: #059cb1;
}

main aside .links ul li a span {
  color: #212529;
}

@media (max-width: 767px) {
  main aside .links ul li a span {
    display: none;
  }
}

main aside .links ul li a .f-icon {
  margin-right: 10px;
}

@media (max-width: 767px) {
  main aside .links ul li a .f-icon {
    margin-right: 0;
  }
}

main .content {
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 1px #ececec;
  box-shadow: 0 0 5px 1px #ececec;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 1199px) {
  main .content {
    padding-right: 10px;
  }
}

main .content>div {
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
}

body.dark main {
  background-color: #222;
}

body.dark main aside {
  background-color: #1d1d1d;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

body.dark main aside .head a {
  color: rgba(5, 156, 177, 0.8705882353) !important;
}

body.dark main aside .head a:hover {
  color: rgba(58, 182, 182, 0.8705882353) !important;
}

body.dark main aside .shape span {
  background-color: rgba(5, 156, 177, 0.8705882353);
}

body.dark main aside .shape span::before,
body.dark main aside .shape span::after {
  background-color: rgba(5, 156, 177, 0.8705882353);
}

body.dark main aside .links ul li a:hover {
  color: rgba(5, 156, 177, 0.8705882353);
  background-color: #323234;
}

body.dark main aside .links ul li a:hover span,
body.dark main aside .links ul li a:hover .f-icon {
  color: rgba(5, 156, 177, 0.8705882353);
}

body.dark main aside .links ul li a.active {
  color: rgba(5, 156, 177, 0.8705882353);
  background-color: #323234;
}

body.dark main aside .links ul li a.active span,
body.dark main aside .links ul li a.active .f-icon {
  color: rgba(5, 156, 177, 0.8705882353);
}

body.dark main aside .links ul li a span,
body.dark main aside .links ul li a .f-icon {
  color: #efefef;
}

body.dark main .content {
  background-color: #1d1d1d;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}